.btn {
  padding: 2px 8px;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  height: 22px;

  background-color: $green;

  &_ol {
    border: 0.5px solid #00000099;

    .btn__txt {
      color: $black;
    }

    &_white {
      border: 0.5px solid rgba(255, 255, 255, 0.6);

      .btn__txt {
        color: $white;
      }
    }
  }

  &_white {
    background-color: $white;
  }

  &_centered {
    justify-content: center;

    text-align: center;
  }

  &__txt {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #000000;
  }
}
