.cart-widget {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;

  padding: 8px;

  display: flex;
  flex-direction: column;
  width: 358px;

  overflow: hidden;

  color: $white;

  background-color: $bg;

  opacity: 0;
  visibility: hidden;

  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;

  ._show-cart-widget & {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  @media (min-width: 64.05em) {
    transform: translateX(110%);
  }

  @media (max-width: 64.05em) and (min-width: 48em) {
    margin-right: 8px;
    padding: 7px;

    width: 318px;
  }

  @media (max-width: 48em) {
    &:not(&_add) {
      position: fixed;
      top: 0;
      left: 0;

      padding-top: 183px;
      padding-bottom: 58px;
      padding-left: 16px;
      padding-right: 16px;

      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;

      overflow: auto;

      .simplebar-track {
        display: none;
      }

      .cart-widget {
        &__title {
          margin-bottom: 47px;
        }
        &__items {
          margin-bottom: auto;

          row-gap: normal;
        }
        &__btn {
          padding: 5px 10px;
        }
      }

      .item-cart {
        padding-bottom: 6.5px;

        row-gap: 78px;

        &__image-wrap {
          margin-right: 79px;
        }
        &__title {
          margin-bottom: 34px;

          transform: translateY(-1px);
        }
        &__price {
          transform: translate(-12px, 0px);
        }
        &__remove-btn {
          transform: translate(0px, -3px);
        }
        &__info {
          transform: translateY(2px);
        }
        &__title-txt {
          line-height: 12px;
        }
      }
    }
  }

  &__buttons {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    row-gap: 4px;

    .btn {
      height: 26px;

      .btn__txt {
        letter-spacing: 1.4px;
      }
    }
  }

  &__close-btn {
    position: absolute;
    top: 13px;
    left: 13px;

    @media (min-width: 48em) {
      display: none;
    }
  }

  &__close-btn-icon {
    width: 20px;
    height: 20px;

    color: $white;
  }

  &__title {
    margin-bottom: 50px;

    @media (min-width: 48em) {
      display: none;
    }
  }

  &__text {
    margin-bottom: 64px;

    max-width: 171px;

    line-height: 13.5px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 61px;
    }

    @media (max-width: 64.05em) {
      line-height: 15.5px;
    }

    @media (max-width: 48em) {
      margin-bottom: auto;
    }
  }

  &__items {
    position: relative;

    display: flex;
    flex-direction: column;

    &[data-sb] {
      padding-bottom: 31px;

      height: 242px;

      @media (max-width: 64.05em) and (min-width: 48em) {
        height: 230px;

        &::after {
          transform: translate(-8px, 36px) rotate(180deg);
        }

        padding-bottom: 14px;
      }

      @media (max-width: 48em) {
        padding-bottom: 30px;

        height: 580px;
      }

      &::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        width: calc(100% + 16px);
        height: 57px;

        background: linear-gradient(
          180deg,
          #171717 79.5%,
          rgba(23, 23, 23, 0) 100%
        );

        transform: translate(-8px, 28px) rotate(180deg);
      }
    }

    .item-cart {
      column-gap: 55px;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);

      color: $white;

      &:not(:last-child) {
        margin-bottom: 7px;
      }

      &:last-child {
        padding-bottom: 0;

        border-bottom: none;
      }

      @media (max-width: 64.05em) {
        column-gap: normal;
      }

      &__title {
        margin-bottom: 32px;

        @media (max-width: 64.05em) {
          margin-bottom: 34px;
        }
      }

      &__title-txt {
        letter-spacing: 2px;
        line-height: 14px;
      }

      &__info {
        padding-right: 9px;

        @media (max-width: 64.05em) and (min-width: 48em) {
          transform: translate(9px, 0px);
        }
      }

      &__remove-btn {
        transform: translate(-7px, 2px);

        @media (max-width: 64.05em) {
          transform: translate(-7px, 0px);
        }
      }

      &__image-wrap {
        @media (max-width: 64.05em) and (min-width: 48em) {
          margin-right: 44px;

          width: 63px;
        }
      }

      &__price {
        transform: translate(-8px, 1px);
      }

      &__items {
        @media (max-width: 64.05em) {
          row-gap: 7px;
        }
      }

      .quantity {
        column-gap: 24px;

        @media (min-width: 48em) {
          transform: translateY(2px);
        }

        svg {
          color: $white;
        }
      }
    }
  }

  &__btn {
    width: 100%;
  }

  &_add {
    @media (max-width: 48em) {
      z-index: 2;

      right: 1px;

      width: calc(100vw - 33px);
    }

    .cart-widget {
      &__items {
        margin-bottom: 21px;

        @media (max-width: 64.05em) and (min-width: 48em) {
          margin-bottom: 12px;
        }

        @media (max-width: 48em) {
          margin-bottom: 18px;
        }
      }
    }
    .item-cart {
      column-gap: normal;

      &__image-wrap {
        margin-right: 55px;

        @media (max-width: 64.05em) {
          margin-right: 51px;
        }
      }

      &__price {
        margin-top: auto;
      }

      &__title {
        row-gap: 2px;
      }
      &__title-txt {
        letter-spacing: 1.3px;
      }
    }
  }

  &_no-items {
    padding: 10px;

    width: 320px;
  }
}
