input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
input,
textarea {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}
textarea:focus,
input:focus {
  outline: none;
}

.field {
  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  &__label-txt {
    letter-spacing: 0.2px;
  }

  &__input {
    padding-bottom: 8px;

    width: 100%;

    border-bottom: 0.5px solid rgba(255, 255, 255, 0.6);

    font-size: 11px;

    transition: border-bottom 0.3s ease;

    &._has-error {
      border-bottom: 0.5px solid $red;
    }
  }

  &_to-left {
    .field__label {
      align-items: flex-start;
    }
  }

  &_light-theme {
    .field__input:not(._has-error) {
      border-bottom: 0.5px solid $black;
    }
  }
}
