.filter {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    column-gap: 7px;
  }

  &__btn-arrow {
    transition: transform 0.3s ease;

    ._is-active & {
      transform: rotate(180degdeg);
    }
  }

  &__body {
    position: absolute;
    top: calc(100% + 16px);
    right: 8px;

    padding: 9px;

    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(0, 0, 0, 0.5);

    background-color: $white;
  }

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &__close-btn-icon {
    width: 9px;
    height: 9px;
  }

  &__form,
  &__groups {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__buttons {
    display: flex;
    column-gap: 8px;
  }
}
