.item-merch {
  &__inner {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    @media (any-hover: hover) {
      &:hover {
        .item-merch__info {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    text-align: center;
    color: #ffffff;

    background-color: #000000;

    opacity: 0;
    visibility: hidden;

    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
  }

  &__title {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    line-height: 14px;
    white-space: nowrap;

    @media (max-width: 48em) {
      line-height: 15px;
    }
  }

  &__image-wrap {
    margin-bottom: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 259px;
    width: 100%;

    background-color: #eeeeee;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 9px;

      height: 229px;
    }

    @media (max-width: 48em) {
      margin-bottom: 14px;

      height: 179px;
    }
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }
}
