.lg-on .lg-container {
  .lg-download {
    display: none;
  }

  .lg-inner {
    @media (max-width: 48em) {
      top: -51px;
    }
  }

  .lg-toolbar .lg-close:after {
    content: "";

    display: inline-block;
    width: 20px;
    height: 20px;

    background: url("./img/icons/cross.svg") center / contain no-repeat;

    @media (max-width: 64.05em) {
      width: 25px;
      height: 25px;

      transform: translate(3px, 0);
    }
  }

  .lg-sub-html {
    display: none;
  }

  .lg-icon {
    font-size: 20px;
    color: #ffffff;

    @media (max-width: 48em) {
      &.lg-prev,
      &.lg-next {
        top: auto;
        bottom: 62px;
      }

      &.lg-prev {
        left: 4px;
      }

      &.lg-next {
        right: 4px;
      }
    }
  }

  .lg-counter {
    position: absolute;
    top: auto;
    bottom: -10px;
    right: 16px;

    font-family: "Suisse Int'l";
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #ffffff;

    @media (max-width: 48em) {
      bottom: -3px;
    }
  }

  .lg-prev:after,
  .lg-next:before {
    content: "";

    display: inline-block;
    width: 25px;
    height: 8px;

    background: url("./img/icons/arr.svg") center / contain no-repeat;
  }

  .lg-next:before {
    transform: rotate(180deg);
  }

  .lg-image {
    width: 982px;
    height: 674px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      width: 824px;
      height: 565px;
    }

    @media (max-width: 48em) {
      width: 398px;
      height: 273px;
    }
  }
  ._is-vertical .lg-image {
    width: 618px;
    height: 812px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      width: 656px;
      height: 860px;
    }

    @media (max-width: 48em) {
      width: 396px;
      height: 566px;
    }
  }
  .lg-object.lg-image {
    object-fit: cover;
  }

  .media {
    &__text,
    &__description {
      position: absolute;
      z-index: 2000;
    }
    &__text {
      top: 11px;
      left: 16px;
    }
    &__description {
      left: 15px;
      top: auto;
      bottom: 10px;
    }
  }
}
