.txt-uc {
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.subtitle {
  font-size: 36px;
  line-height: 36px;
}

.title {
  font-family: "Druk Text Wide Cyr";
  font-weight: 700;
  font-size: 45px;
  line-height: 59px;
  letter-spacing: -5px;

  text-transform: uppercase;

  @media (max-width: 48em) {
    line-height: 39px;
    letter-spacing: -3px;
  }
}

.quote {
  position: relative;

  padding-left: 16px;

  font-size: 24px;
  line-height: 24px;

  @media (min-width: 64.05em) {
    padding-bottom: 10px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: 100%;

    background-color: $green;
  }
}

[data-splitting] {
  .char {
    opacity: 0;
  }
}

.letter {
  display: inline-block;
  height: 177px;
  overflow: hidden;

  .glitch {
    position: relative;

    padding-left: 10px;

    height: 17px;
    width: 135%;

    font-size: 200px;
    text-transform: uppercase;

    overflow: hidden;

    span {
      position: relative;

      left: -17px;

      line-height: 177px;
      font-family: "Druk Text Wide Cyr";
    }
  }
}
