.txt-uc {
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: "Druk Text Wide Cyr";
  font-weight: 700;
  font-size: 45px;
  line-height: 59px;
  letter-spacing: -5px;

  text-transform: uppercase;

  @media (max-width: 48em) {
    line-height: 39px;
    letter-spacing: -3px;
  }
}
