.txt-uc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &_11 {
    font-size: 11px;
  }
}

.subtitle {
  font-size: 36px;
  line-height: 36px;
}

.title {
  font-family: "Druk Text Wide Cyr";
  font-weight: 700;
  font-size: 45px;
  line-height: 59px;
  letter-spacing: -5px;

  text-transform: uppercase;

  @media (max-width: 48em) {
    line-height: 39px;
    letter-spacing: -3px;
  }
}

.quote {
  position: relative;

  padding-left: 16px;

  font-size: 24px;
  line-height: 24px;

  @media (min-width: 64.05em) {
    padding-bottom: 10px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: 100%;

    background-color: $green;
  }
}

.sm-title {
  font-family: "Druk Text Wide Cyr";
  font-weight: 700;
  font-size: 12rem;
  line-height: 85%;
  letter-spacing: -5px;
  text-transform: uppercase;

  ._zoom-tab &,
  &:not(._zoom &) {
    @media (max-width: 64.05em) and (min-width: 48.1em) {
      font-size: 18rem;
      line-height: 87%;
    }
  }

  ._zoom-mob,
  &:not(._zoom &) {
    @media (max-width: 48em) {
      font-size: 6.9rem;
      letter-spacing: -0.9rem;
    }
  }
}

.txt-12 {
  font-size: 12px;
  line-height: 16px;
}

[data-splitting] {
  .char {
    opacity: 0;
  }
}

.glitch-text-content {
  display: flex;
}

.letter {
  display: inline-block;
  height: 177px;
  //  overflow: hidden;

  font-family: "Druk Text Wide Cyr";
  text-transform: uppercase;

  .glitch {
    position: relative;

    padding-left: 9px;

    width: 135%;

    span {
      position: relative;

      line-height: 177px;
      font-size: 200px;
      text-transform: uppercase;
    }
  }
}
