.about {
  display: flex;

  color: #000000;

  &__container {
    padding-bottom: 4px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    height: 100%;

    ._zoom-desk &,
    &:not(._zoom &) {
      @media (min-width: 2000px) and (min-height: 1600px) {
        margin: auto;
        padding-bottom: 0;

        min-height: auto;
        height: auto;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        padding-bottom: 2rem;
      }
    }
  }

  &__text {
    margin-bottom: 1rem;

    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;

    ._zoom-desk &,
    &:not(._zoom &) {
      // 2
      @media (min-width: 1400px) and (max-height: 930px) {
        margin-bottom: 0.5vh;

        font-size: 1.6vh;
        line-height: 2vh;
      }

      // 3
      @media (min-width: 2000px) and (min-height: 1600px) {
        font-size: 25px;
        line-height: 30px;
      }
    }

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        font-size: 3.3rem;
        line-height: 6rem;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        font-size: 8.5px;
        line-height: 3rem;
      }
    }
  }

  &__image-wrap {
    margin-bottom: 1rem;

    width: 358px;
    height: 203px;

    transform: translateX(-450%);
    opacity: 0;

    ._zoom-desk &,
    &:not(._zoom &) {
      // 1
      @media (min-width: 64.05em) and (max-width: 1400px) and (max-height: 800px) {
        margin-bottom: 0.6vh;

        height: 18vh;
        width: 32vh;
      }

      // 2
      @media (min-width: 1400px) and (max-height: 930px) {
        margin-bottom: 1vh;

        height: 23vh;
        width: 38vh;
      }

      // 3
      @media (min-width: 2000px) {
        margin-bottom: 30px;

        width: 478px;
        height: 250px;
      }
      @media (min-width: 2000px) and (max-height: 1200px) {
        width: 37.3vh;
        height: 20.2vh;
      }
      @media (min-width: 2000px) and (min-height: 1600px) {
        width: 618px;
        height: 358px;
      }
    }

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        margin-bottom: 16rem;

        width: 63.6rem;
        height: 36.5rem;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        width: 45rem;
        height: 26rem;
      }

      @media (max-width: 48em) and (min-height: 450px) {
        margin-bottom: 21rem;
      }

      @media (max-width: 48em) and (max-height: 450px) {
        margin-bottom: 8rem;
      }
    }
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }

  &__title {
    margin-left: -16px;

    display: flex;
    flex-direction: column;

    .glitch-text:first-child {
      margin-bottom: 0.5rem;

      ._zoom-tab &,
      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) {
          margin-bottom: -1.2rem;
        }
      }
    }

    .io {
      margin-left: 1rem;

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          margin-left: 2rem;
        }
      }
    }

    .lr {
      margin-left: 18rem;

      opacity: 0;

      ._zoom-desk &,
      &:not(._zoom &) {
        @media (min-width: 64.05em) {
          margin-bottom: 1.4rem;
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          margin-bottom: 0.7rem;
          margin-left: 7rem;
        }
      }
    }

    .bs {
      opacity: 0;
    }

    .glitch-text-content {
      white-space: nowrap;
    }

    > .glitch-text:last-child {
      transform: translate(129px, -29px);
    }

    .letter {
      margin: 0 -1.2rem;

      height: 147px;

      ._zoom-desk &,
      &:not(._zoom &) {
        // 1
        @media (min-width: 64.05em) and (max-width: 1400px) and (max-height: 800px) {
          height: 14.3vh;
        }
        @media (min-width: 64.05em) and (max-width: 1400px) and (min-height: 800px) {
          height: 118px;
        }

        // 2
        @media (min-width: 1400px) and (max-height: 930px) {
          height: 16vh;
        }

        // 3
        @media (min-width: 2000px) {
          height: 203px;
        }
        @media (min-width: 2000px) and (max-height: 1200px) {
          height: 15vh;
        }
        @media (min-width: 2000px) and (min-height: 1600px) {
          height: 250px;
        }
      }

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          height: 26rem;
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          margin: 0 -1rem;

          height: 10.5rem;
        }
      }
    }
  }

  &__title-txt {
    white-space: nowrap;

    .glitch {
      span {
        font-size: 175px;
        line-height: 103%;
        font-weight: 700;

        ._zoom-desk &,
        &:not(._zoom &) {
          // 1
          @media (min-width: 64.05em) and (max-width: 1400px) and (min-height: 800px) {
            font-size: 130px;
          }
          @media (min-width: 64.05em) and (max-width: 1400px) and (max-height: 800px) {
            font-size: 16vh;
            line-height: 17vh;
          }

          // 2
          @media (min-width: 1400px) and (max-height: 930px) {
            font-size: 18.8vh;
            line-height: 18.8vh;
          }

          // 3
          @media (min-width: 2000px) {
            font-size: 248px;
            line-height: 94%;
          }
          @media (min-width: 2000px) and (max-height: 1200px) {
            font-size: 18.2vh;
          }
          @media (min-width: 2000px) and (min-height: 1600px) {
            font-size: 300px;
          }
        }

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            font-size: 28.5rem;
            line-height: 129%;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            font-size: 10.2rem;
            line-height: 155%;
          }
        }
      }
    }

    &_sm {
      width: fit-content;

      line-height: 94%;

      //      ._zoom-desk &,
      //      &:not(._zoom &) {
      //        @media (min-width: 64.05em) and (max-height: 980px) {
      //          font-size: 9rem;
      //        }
      //      }

      ._zoom-tab &,
      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) {
          margin-left: auto;
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          line-height: 96%;
        }
      }

      &_1,
      &_3 {
        transform: translateX(-15rem);
        opacity: 0;
      }
      &_2 {
        transform: translateX(-10rem);
        opacity: 0;
      }

      &_1 {
        //        margin-left: 50.4%;
        margin-left: auto;
        margin-right: 384px;

        ._zoom-desk &,
        &:not(._zoom &) {
          // 1
          @media (min-width: 64.05em) and (max-width: 1400px) and (max-height: 800px) {
            margin-right: 33vh;
          }
          @media (min-width: 64.05em) and (max-width: 1400px) and (min-height: 800px) {
            margin-right: 259px;
          }

          // 3
          @media (min-width: 2000px) {
            margin-right: 594px;
          }
          @media (min-width: 2000px) and (max-height: 1200px) {
            margin-right: 48vh;
          }
        }

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            margin-right: 62rem;
          }
        }

        &:not(._zoom &),
        ._zoom-mob & {
          @media (max-width: 48em) {
            margin-right: 23rem;
          }
        }
      }

      &_2 {
        &:not(._zoom &) {
          @media (min-width: 64.05em) {
            margin-left: auto;
            margin-right: 9px;
          }
          @media (min-width: 64.05em) and (max-height: 960px) {
            margin-right: 1vh;
          }
        }
      }

      &_3 {
        &:not(._zoom &) {
          @media (min-width: 64.05em) {
            margin-left: auto;
            margin-right: 1px;
          }
        }
        @media (min-width: 48.05em) and (max-width: 64.05em) {
          margin-right: 6px;
        }
      }
    }
  }
}
