.about {
  color: #000000;

  &__container {
    padding-top: 185px;
    padding-bottom: 16px;

    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__text {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__image-wrap {
    width: 357px;
    height: 206px;
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }

  &__title {
    margin-left: 1px;

    display: flex;
    flex-direction: column;

    .glitch-text:last-child {
      transform: translate(129px, -29px);
    }

    .lr {
      transform: translate(129px, -30px);
    }
  }

  &__title-txt {
    font-family: "Druk Text Wide Cyr";
    text-transform: uppercase;

    .glitch {
      font-size: 178px;
      line-height: 88%;
    }

    &_sm {
      margin-left: auto;
    }
  }
}
