.cart {
  padding-top: 14px;
  padding-bottom: 13px;

  height: 100%;

  @media (max-width: 64.05em) {
    padding-top: 0;
  }

  .quantity {
    column-gap: 23px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: 64.05em) and (min-width: 48em) {
      padding-top: 132px;
      padding-bottom: 12px;
    }
    @media (max-width: 48em) {
      padding-top: 118px;
      padding-bottom: 13px;
    }
  }

  &__title {
    margin-bottom: 93px;

    &.title {
      font-family: "Druk Wide";
      letter-spacing: 0;
    }

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 148px;
    }
    @media (max-width: 48em) {
      margin-bottom: 46px;

      &.title {
        font-family: "Druk Text Wide Cyr";
        letter-spacing: -3px;
      }
    }
  }

  &__items {
    margin-bottom: 133px;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 80px;
    }

    @media (max-width: 64.05em) {
      row-gap: 7px;
    }

    @media (max-width: 48em) {
      margin-bottom: 83px;
    }
  }

  &__checkout-btn {
    margin-bottom: 50px;

    align-self: flex-end;
    min-width: 356px;
    height: 27px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      min-width: 317px;
    }
    @media (max-width: 48em) {
      min-width: 279px;
    }
  }

  &__copyrights {
    margin-top: auto;
  }
}
