.cart {
  height: 100%;

  &__container {
    padding-top: 30px;
    padding-bottom: 13px;

    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: 64.05em) and (min-width: 48em) {
      padding-top: 146px;
      padding-bottom: 12px;
    }
    @media (max-width: 48em) {
      padding-top: 114px;
      padding-bottom: 13px;
    }
  }

  &__title {
    margin-bottom: 105px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 160px;
    }
    @media (max-width: 48em) {
      margin-bottom: 50px;
    }
  }

  &__items {
    margin-bottom: 135px;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    @media (max-width: 64.05em) {
      margin-bottom: 80px;
    }
  }

  &__checkout-btn {
    margin-bottom: 50px;

    align-self: flex-end;
    min-width: 356px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      min-width: 317px;
    }
    @media (max-width: 48em) {
      min-width: 279px;
    }
  }

  &__copyrights {
    margin-top: auto;
  }
}

.item-cart {
  padding-bottom: 8.5px;

  display: flex;
  column-gap: 55px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);

  &__image-wrap {
    width: 60px;
    height: 91px;
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }

  &__info {
    margin-right: auto;

    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__remove-btn {
    margin-bottom: auto;
  }

  &__remove-btn-icon {
    width: 12px;
    height: 12px;
  }
}
