.cart {
  height: 100%;

  &__container {
    padding-top: 19px;
    padding-bottom: 13px;

    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: 64.05em) and (min-width: 48em) {
      padding-top: 132px;
      padding-bottom: 12px;
    }
    @media (max-width: 48em) {
      padding-top: 114px;
      padding-bottom: 13px;
    }
  }

  &__title {
    margin-bottom: 90px;

    &.title {
      letter-spacing: 3px;
    }

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 145px;
    }
    @media (max-width: 48em) {
      margin-bottom: 48px;

      &.title {
        letter-spacing: -3px;
      }
    }
  }

  &__items {
    margin-bottom: 133px;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    @media (max-width: 64.05em) {
      margin-bottom: 80px;
    }
  }

  &__checkout-btn {
    margin-bottom: 50px;

    align-self: flex-end;
    min-width: 356px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      min-width: 317px;
    }
    @media (max-width: 48em) {
      min-width: 279px;
    }
  }

  &__copyrights {
    margin-top: auto;
  }
}

.item-cart {
  padding-bottom: 5.5px;

  display: flex;
  column-gap: 55px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);

  @media (max-width: 48em) {
    padding-bottom: 4.5px;
  }

  &__image-wrap {
    width: 60px;
    height: 91px;
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }

  &__info {
    margin-right: auto;

    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 41px;

    display: flex;
    flex-direction: column;
    row-gap: 2px;

    @media (max-width: 48em) {
      row-gap: 3px;
    }
  }

  &__price {
    transform: translate(-8px, -4px);

    @media (max-width: 64.05em) {
      transform: translate(-9px, -2px);
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__remove-btn {
    margin-bottom: auto;
  }

  &__remove-btn-icon {
    width: 12px;
    height: 12px;
  }

  &__quantity {
  }
}
