.error-page {
  padding-top: 245px;
  padding-left: 61px;

  @media (max-width: 64.05em) and (min-width: 48em) {
    padding-top: 436px;
    padding-left: 15px;
  }

  @media (max-width: 48em) {
    padding-top: 113px;
    padding-left: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__video-wrap {
    margin-bottom: -127px;

    width: 870px;
    height: 493px;

    .vjs_video_3-dimensions,
    video {
      width: 100%;
      height: 100%;
    }

    video {
      object-fit: cover;
    }

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: -129px;
    }

    @media (max-width: 48em) {
      margin-bottom: -88px;

      width: 594px;
      height: 339px;
    }
  }

  &__btn {
    position: relative;
    z-index: 2;

    background-color: transparent;
  }
}
