.gallery-description {
  position: absolute;
  bottom: 13px;
  left: 15px;

  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.03em;

  @media (max-width: 48em) {
    bottom: 15px;
  }
}

.feed-chapter {
  margin-bottom: 125px;
  padding-top: 53px;

  .swiper {
    width: 100%;
  }

  @media (max-width: 64.05em) and (min-width: 48em) {
    margin-bottom: 116px;
    padding-top: 116px;
  }

  @media (max-width: 48em) {
    margin-bottom: 100px;
    padding-top: 113px;
  }

  &__gallery {
    &.gallery {
      position: relative;
      z-index: 1;

      margin-bottom: 63px;
      padding-bottom: 0;
      padding-top: 0;

      @media (max-width: 64.05em) and (min-width: 48em) {
        .gallery__body {
          margin-bottom: 100px;
        }
      }

      @media (max-width: 48em) {
        margin-bottom: 32px;

        .slide-gallery__image {
          margin-top: 0;
        }
        .slide-gallery {
          padding-top: 32px;
          padding-bottom: 0;
        }
        .gallery__body {
          margin-bottom: 85px;
        }
      }
    }
  }

  &__carousel {
    margin-bottom: 63px;

    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @media (max-width: 64.05em) {
      margin-bottom: 31px;
    }

    .swiper {
      @media (max-width: 48em) {
        &:not(._page-loaded &) {
          height: 235px;
        }
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__pagination {
    width: 100%;
  }

  &__head {
    @media (min-width: 64.05em) {
      margin-bottom: 90px;
    }

    .feed-chapter__container {
      row-gap: 9px;
    }

    @media (max-width: 48em) {
      .feed-chapter__container {
        row-gap: 4px;
      }
    }
  }

  &__list {
    &:not(.feed-chapter__aside &) {
      padding-left: 10px;

      display: flex;
      flex-direction: column;

      @media (max-width: 64.05em) and (min-width: 48em) {
        margin-bottom: 9px;
      }

      @media (max-width: 48em) {
        padding-left: 13px;
      }
    }
  }

  &__quote {
    margin-top: 29px;

    @media (max-width: 64.05em) {
      margin-left: -3px;
      margin-top: 17px;
    }
  }

  &__aside {
    padding-top: 2px;

    .feed-chapter__list-item {
      line-height: 15.9px;
    }

    @media (max-width: 64.05em) {
      padding-top: 4px;
      padding-left: 19px;
    }

    @media (max-width: 48em) {
      display: none;
    }
  }

  &__list-item {
    &:not(.feed-chapter__aside &) {
      position: relative;

      padding-left: 17px;

      &::before {
        content: "";

        position: absolute;
        top: 8px;
        left: 0;

        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;

        background-color: #ffffff;
      }

      @media (max-width: 64.05em) {
        padding-left: 17px;
      }

      @media (max-width: 48em) and (min-width: 48em) {
        &:nth-child(2) {
          max-width: 455px;
        }
      }

      @media (max-width: 48em) {
        padding-left: 14px;
      }
    }
  }

  &__title {
    max-width: 910px;

    font-size: 48px;
    line-height: 100%;

    &:not(._page-loaded &) {
      height: 96px;
    }

    @media (max-width: 48em) {
      font-size: 32px;
    }
  }

  &__date {
    font-size: 24px;
    line-height: 100%;

    &:not(._page-loaded &) {
      height: 39px;
    }

    @media (max-width: 64.05em) {
      font-size: 32px;
    }

    @media (max-width: 48em) {
      margin-top: 10px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__image-wrap {
    width: 100%;

    &_bg {
      margin-bottom: 70px;

      height: 818px;

      @media (max-width: 64.05em) and (min-width: 48em) {
        margin-bottom: 41px;

        height: 556px;
      }

      @media (max-width: 48em) {
        margin-bottom: 32px;

        height: 232px;
      }
    }
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }

  &__images-swiper {
    margin-bottom: 128px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 59px;
    }

    @media (max-width: 48em) {
      margin-bottom: 61px;

      &.swiper {
        &:not(._page-loaded &) {
          height: 165px;
        }
      }
    }

    .swiper-wrapper {
      padding-left: 15px;
    }

    .swiper-slide {
      width: 219px;

      &_sm {
        width: 150px;
      }

      @media (min-width: 48em) {
        width: 420px;

        &_sm {
          width: 233px;
        }
      }
    }

    .slide-feed-chapter__image {
      height: 306px;

      @media (max-width: 48em) {
        height: 165px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      .feed-chapter__group {
        margin-bottom: 123px;

        @media (max-width: 64.05em) {
          margin-bottom: 57px;
        }
      }
    }

    @media (max-width: 48em) {
      width: 100%;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 134px;

    &_solid {
      .feed-chapter__grid {
        grid-template-columns: 1fr 886px 1fr;

        @media (max-width: 64.05em) and (min-width: 48em) {
          grid-template-columns: 1fr 652px 1fr;
        }

        @media (max-width: 48em) {
          grid-template-columns: 1fr;
          width: 100%;
        }
      }

      .feed-chapter__text-group {
        @media (min-width: 64.05em) {
          padding-left: 14px;
        }
      }

      .feed-chapter__text {
        max-width: 800px;

        font-size: 26px;
        line-height: 30px;

        @media (max-width: 64.05em) and (min-width: 48em) {
          max-width: none;

          font-size: 32px;
          line-height: 32px;
        }

        @media (max-width: 48em) {
          max-width: 356px;

          font-size: 18px;
          line-height: 24px;
        }

        &_to-right {
          max-width: 808px;

          transform: none;

          @media (max-width: 64.05em) {
            margin-top: 4px;

            max-width: 570px;
          }
        }
      }
    }

    @media (max-width: 64.05em) and (min-width: 48em) {
      row-gap: 75px;
    }

    @media (max-width: 48em) {
      row-gap: 96px;

      &:first-child {
        .feed-chapter__subtitle {
          max-width: 316px;
        }
      }
    }

    @media (min-width: 64.05em) {
      &:first-child {
        .feed-chapter__text_small {
          padding-top: 4px;
        }
      }
    }

    .feed-chapter__image-container .feed-chapter__image-wrap {
      width: 357px;
      height: 193px;

      @media (max-width: 64.05em) and (min-width: 48em) {
        width: 488px;
        height: 263px;
      }

      @media (max-width: 48em) {
        width: 267px;
        height: 140px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 136px;

      @media (max-width: 64.05em) and (min-width: 48em) {
        margin-bottom: 66px;
      }

      @media (max-width: 48em) {
        margin-bottom: 92px;
      }

      &.feed-chapter__group_has-images {
        margin-bottom: 70px;

        row-gap: 56px;

        .feed-chapter__text {
          &_to-right {
            max-width: 674px;

            @media (max-width: 64.05em) and (min-width: 48em) {
              max-width: 522px;

              transform: translateX(-48px);
            }

            @media (max-width: 48em) {
              max-width: 332px;
            }
          }
        }

        @media (max-width: 64.05em) {
          .feed-chapter__image-container .feed-chapter__text {
            display: none;
          }
        }

        .feed-chapter__text-group {
          @media (max-width: 48em) {
            row-gap: 3px;
          }
        }

        .feed-chapter__text:not(.feed-chapter__text_to-right) {
          @media (max-width: 48em) {
            max-width: 390px;
          }
        }

        .feed-chapter__text-container {
          row-gap: 11px;

          @media (max-width: 64.05em) and (min-width: 48em) {
            row-gap: 9px;
          }
        }
      }

      @media (max-width: 64.05em) and (min-width: 48em) {
        &.feed-chapter__group_has-images {
          margin-bottom: 80px;

          row-gap: 28px;
        }
      }

      @media (max-width: 48em) {
        &.feed-chapter__group_has-images {
          margin-bottom: 61px;

          row-gap: 10px;
        }
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 736px 1fr;

    @media (max-width: 64.05em) and (min-width: 48em) {
      grid-template-columns: 1fr 652px 1fr;
    }

    @media (max-width: 48em) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 48em) {
      .feed-chapter__text-group {
        grid-column: 2/3;
      }
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @media (max-width: 48em) {
      width: 100%;
    }
  }

  &__subtitle {
    max-width: 732px;

    font-weight: 500;
    font-size: 36px;
    line-height: 36px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      max-width: 656px;
    }

    @media (max-width: 48em) {
      max-width: none;
    }
  }

  &__text {
    max-width: 702px;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      max-width: 656px;
    }

    @media (max-width: 48em) {
      max-width: none;
    }

    &_small {
      max-width: 295px;

      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;

      .feed-chapter__group_no-subtitle & {
        padding-left: 17px;

        @media (max-width: 64.05em) and (min-width: 48em) {
          padding-left: 4px;
        }

        @media (max-width: 48em) {
          padding-left: 71px;

          max-width: 378px;
        }
      }

      @media (max-width: 64.05em) and (min-width: 48em) {
        max-width: 136px;

        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.02em;

        transform: translateX(10px);
      }

      @media (max-width: 48em) {
        margin-left: 0;
        margin-top: 12px;

        max-width: 327px;
      }
    }

    &_to-right {
      align-self: flex-end;
      max-width: 648px;

      .feed-chapter__group_no-subtitle & {
        max-width: 679px;

        @media (max-width: 64.05em) and (min-width: 48em) {
          max-width: 611px;
        }

        @media (max-width: 48em) {
          max-width: 336px;
        }
      }

      transform: translateX(8px);

      @media (max-width: 64.05em) and (min-width: 48em) {
        max-width: 579px;
      }

      @media (max-width: 48em) {
        max-width: 336px;
      }
    }
  }

  &__text-group {
    display: flex;
    flex-direction: column;
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    row-gap: 7px;

    .feed-chapter {
      &__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
      }
    }
  }

  &__text-link {
    text-decoration: underline;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__list-group {
    display: flex;
    gap: 75px;

    @media (max-width: 64.05em) {
      flex-direction: column;
      gap: 19px;
    }
  }

  &__images {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;

    @media (max-width: 48em) {
      grid-template-columns: 1fr;

      &:not(._page-loaded &) {
        height: 684px;
      }
    }

    .feed-chapter__image-container .feed-chapter__image-wrap {
      width: 100%;
      height: 395px;

      @media (max-width: 64.05em) and (min-width: 48em) {
        height: 263px;
      }

      @media (max-width: 48em) {
        width: 100%;
        height: 215px;
      }
    }

    .feed-chapter__image-wrap_large {
      height: 832px;

      @media (max-width: 64.05em) and (min-width: 48em) {
        height: 555px;
      }

      @media (max-width: 48em) {
        width: 100%;
        height: 453px;
      }
    }
  }
}

.slide-feed-chapter {
  &__image {
    .feed-chapter__bg-swiper & {
      height: 83.3vh;

      @media (min-width: 64.05em) {
        max-height: 818px;
        min-height: 550px;
      }
    }
    object-fit: cover;

    @media (max-width: 64.05em) and (min-width: 48em) {
      height: 561px;
    }

    @media (max-width: 48em) {
      height: 235px;
    }
  }
}
