.feed {
  margin-bottom: 143px;
  padding-top: 14px;

  @media (max-width: 64.05em) and (min-width: 48em) {
    margin-bottom: 129px;
    padding-top: 130px;
  }

  @media (max-width: 48em) {
    margin-bottom: 92px;
    padding-top: 120px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__head {
    margin-bottom: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 147px;
    }

    @media (max-width: 48em) {
      margin-bottom: 211px;
    }
  }

  &__title {
    &.title {
      letter-spacing: 0.5px;
      font-family: "Druk Wide";

      @media (max-width: 64.05em) and (min-width: 48em) {
        letter-spacing: 0.2px;
      }

      @media (max-width: 48em) {
        font-family: "Druk Text Wide Cyr";
        letter-spacing: -3px;
      }
    }
  }

  &__watch-all-btn {
    transform: translateY(-12px);

    @media (max-width: 64.05em) {
      display: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 357px);
    justify-content: space-between;
    row-gap: 116px;

    @media (max-width: 80em) and (min-width: 55em) {
      grid-template-columns: repeat(2, 403px);
      row-gap: 134px;
    }

    @media (max-width: 55em) {
      grid-template-columns: 1fr;
      row-gap: 54px;
    }
  }
}
