.feed {
  margin-bottom: 143px;

  @media (max-width: 64.05em) and (min-width: 48em) {
    margin-bottom: 137px;
  }

  @media (max-width: 48em) {
    margin-bottom: 92px;
  }

  &__container {
    padding-top: 19px;

    display: flex;
    flex-direction: column;

    @media (max-width: 64.05em) and (min-width: 48em) {
      padding-top: 135px;
    }

    @media (max-width: 48em) {
      padding-top: 118px;
    }
  }

  &__head {
    margin-bottom: 46px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 143px;
    }

    @media (max-width: 48em) {
      margin-bottom: 211px;
    }
  }

  &__watch-all-btn {
    transform: translateY(-15px);

    @media (max-width: 64.05em) {
      display: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 203px;
    row-gap: 123px;

    @media (min-width: 64.05em) {
      .feed-card {
        &:nth-child(4n),
        &:first-child {
          .feed-card__group {
            column-gap: 70px;
          }
        }
      }
    }

    @media (max-width: 64.05em) and (min-width: 48em) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 184px;
      row-gap: 134px;
    }

    @media (max-width: 48em) {
      grid-template-columns: 1fr;
      row-gap: 54px;
    }
  }
}

.feed-card {
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    min-height: 100%;

    @media (max-width: 64.05em) {
      row-gap: 11px;
    }
  }

  &__image-wrap {
    height: 193px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      height: 273px;
    }

    @media (max-width: 48em) {
      height: 231px;
    }
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    height: 100%;
    flex: 1 1 auto;
  }

  &__title,
  &__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  &__date {
    @media (min-width: 64.05em) {
      letter-spacing: 1px;
    }
  }

  &__title {
    flex: 1 1 auto;

    @media (min-width: 64.05em) {
      max-width: 357px;
    }
  }

  &__group {
    display: flex;
    align-items: center;
    column-gap: 132px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      column-gap: 206px;
    }

    @media (max-width: 48em) {
      column-gap: 90px;
    }
  }

  &__btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.3);
  }
}
