.feed {
  margin-bottom: 143px;
  padding-top: 143px;

  @media (max-width: 64.05em) and (min-width: 48em) {
    margin-bottom: 129px;
    padding-top: 105px;
  }

  @media (max-width: 48em) {
    margin-bottom: 92px;
    padding-top: 182px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__head {
    margin-bottom: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 147px;
    }

    @media (max-width: 48em) {
      margin-bottom: 211px;
    }
  }

  &__title {
    &.title {
      letter-spacing: 0.5px;
      font-family: "Druk Wide";

      @media (max-width: 64.05em) and (min-width: 48em) {
        letter-spacing: 0.2px;
      }

      @media (max-width: 48em) {
        font-family: "Druk Text Wide Cyr";
        letter-spacing: -3px;
      }
    }
  }

  &__watch-all-btn {
    transform: translateY(-12px);

    @media (max-width: 64.05em) {
      display: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 357px);
    justify-content: space-between;
    row-gap: 116px;

    @media (max-width: 80em) and (min-width: 55em) {
      grid-template-columns: repeat(2, 403px);
      row-gap: 134px;
    }

    @media (max-width: 55em) {
      grid-template-columns: 1fr;
      row-gap: 54px;
    }
  }
}

.feed-card {
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    min-height: 100%;

    @media (max-width: 64.05em) {
      row-gap: 11px;
    }
  }

  &__image-wrap {
    height: 193px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      height: 273px;
    }

    @media (max-width: 48em) {
      height: 231px;
    }
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    height: 100%;
    flex: 1 1 auto;
  }

  &__title,
  &__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  &__date {
    @media (min-width: 64.05em) {
      letter-spacing: 1px;
    }
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    flex: 1 1 auto;

    @media (min-width: 64.05em) {
      max-width: 357px;
    }
  }

  &__group {
    display: flex;
    align-items: center;
    column-gap: 121px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      column-gap: 206px;
    }

    @media (max-width: 48em) {
      column-gap: 90px;
    }
  }

  &__btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.3);

    .btn__txt {
      white-space: nowrap;
      color: rgba(255, 255, 255, 0.3);
    }

    @media (any-hover: hover) {
      &:hover {
        .btn__txt {
          color: $black;
        }
      }
    }
  }
}
