.footer-main {
  padding-top: 223px;
  padding-bottom: 13px;

  @media (max-width: 64.05em) and (min-width: 48em) {
    padding-top: 339px;
  }

  @media (max-width: 48em) {
    padding-top: 119px;
  }

  .footer__list {
    &:not(&_sublist) {
      margin: 0;

      row-gap: 27px;

      transform: translate(-57px, -33px);

      @media (max-width: 64.05em) and (min-width: 48em) {
        margin-right: -50px;
        margin-bottom: 104px;

        row-gap: 33px;
      }

      @media (max-width: 48em) {
        margin-right: auto;
        margin-left: 57px;
        margin-bottom: auto;

        row-gap: 25px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    @media (max-width: 48em) {
      padding-bottom: 46px;
    }
  }

  &__head {
    margin-bottom: auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 64.05em) {
      justify-content: stretch;
    }

    @media (max-width: 64.05em) and (min-width: 48em) {
      flex-direction: column-reverse;
    }

    @media (max-width: 48em) {
      flex-direction: column;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;

    .glitch-text {
      transform: translate(-20px, -15px);

      @media (max-width: 48em) {
        margin-bottom: 177px;

        transform: translate(-10px, 0);

        .glitch span {
          font-size: 75.1517px;
          line-height: 88.7%;
        }
        .letter {
          height: 67px;
        }
      }
    }

    @media (max-width: 64.05em) and (min-width: 48em) {
      transform: translateX(30px);
    }

    @media (max-width: 48em) {
      transform: translateX(15px);
    }
  }

  &__title-txt {
    font-family: "Druk Text Wide Cyr";
    font-weight: 700;
    font-size: 90.6325px;
    line-height: 88.7%;
    letter-spacing: -6px;
    text-transform: uppercase;

    @media (max-width: 64.05em) {
      margin-bottom: -14px;
    }

    @media (max-width: 48em) {
      margin-bottom: -1px;

      font-size: 46.3403px;
      line-height: 85%;
      letter-spacing: 2px;
    }
  }

  &__sponsors {
    margin-bottom: 67px;

    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    margin-bottom: 66px;

    @media (max-width: 48em) {
      margin-bottom: 50px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__sponsors-swiper {
    &.swiper {
      width: 88%;

      @media (max-width: 64.05em) {
        margin-right: 0;

        width: 96%;
      }
    }
  }

  &__sponsors-swiper-wrapper {
    &.swiper-wrapper {
      align-items: center;
    }
  }
}

.sponsors-slide-main-footer {
  &.swiper-slide {
    width: 97px;

    @media (max-width: 64.05em) {
      width: 77px;
    }
  }

  &__image-wrap {
    display: flex;
  }
}
