.gallery {
  padding-bottom: 18px;
  padding-top: 93px;

  overflow-x: hidden;

  @media (max-width: 64.05em) and (min-width: 48em) {
    padding-top: 269px;
  }

  @media (max-width: 48em) {
    padding-top: 33px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__body {
    position: relative;

    margin-bottom: 83px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 228px;
    }

    @media (max-width: 48em) {
      margin-bottom: 111px;
    }
  }

  &__swiper {
    &.swiper {
      @media (max-width: 48em) {
        &:not(._page-loaded &) {
          height: 566px;
        }
      }
    }
  }

  &__slider-btn {
    position: absolute;
    z-index: 2;
    top: 290px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      top: 415px;
    }

    @media (max-width: 48em) {
      top: auto;
      bottom: -40px;

      transform: none;
    }

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;

      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__swiper {
    &.swiper {
      width: 100%;

      overflow: visible;
    }

    .swiper-slide {
      transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
    }

    .swiper-slide:not(.swiper-slide-active) {
      opacity: 0;
      visibility: hidden;
    }

    .swiper-slide {
      .slide-gallery__image {
        margin-top: 151px;

        @media (min-width: 64.05em) {
          margin-top: -64px;
        }
      }
    }
  }

  &__slider-btn-icon {
    width: 25px;
    height: 25px;

    @media (max-width: 48em) {
      width: 22px;
      height: 22px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__text {
    max-width: 732px;

    font-size: 16px;
    line-height: 21px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      max-width: 481px;
    }

    @media (max-width: 48em) {
      max-width: 328px;
    }
  }

  &__fraction {
    display: flex;
    align-items: center;
    column-gap: 7px;

    font-size: 16px;
    line-height: 21px;
  }
}

.slide-gallery {
  &.swiper-slide {
    display: flex;
    justify-content: center;
  }

  //  &._is-vertical {
  //    .slide-gallery {
  //      &__image {
  //        width: 461px;
  //        //        height: 605px;
  //
  //        @media (max-width: 64.05em) and (min-width: 48em) {
  //          margin-top: 0;
  //
  //          width: 656px;
  //          height: 860px;
  //        }
  //
  //        @media (max-width: 48em) {
  //          width: 396px;
  //          height: 566px;
  //        }
  //      }
  //    }
  //  }

  //  &:not(&._is-vertical) {
  @media (max-width: 48em) {
    padding-top: 83px;
    padding-bottom: 66px;
  }
  //  }

  &__image {
    width: 982px;
    height: 674px;

    object-fit: cover;

    @media (max-width: 64.05em) and (min-width: 48em) {
      width: 824px;
      height: 565px;
    }

    @media (max-width: 48em) {
      width: 398px;
      height: 273px;
    }
  }
}
