.mainpage {
  overflow: hidden;
}

.hero {
  &__video,
  video {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__container {
    position: relative;
    z-index: 1;

    padding-bottom: 1.3rem;
    padding-top: 57rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;

    overflow: hidden;

    @media (min-width: 1600px) {
      padding-top: 43.2rem;
    }

    @media (max-width: 64.05em) and (min-width: 49em) {
      padding-top: 47vh;
      padding-bottom: 3rem;
    }

    @media (max-width: 49em) {
      padding-top: 28rem;
      padding-bottom: 32px;
    }
  }

  &__title {
    margin-bottom: auto;

    display: flex;
    justify-content: space-between;

    font-family: "Druk Text Wide Cyr";
    font-weight: 700;
    font-size: 11.4rem;
    line-height: 13rem;
    letter-spacing: -0.06em;

    span {
      &:last-child {
        margin-right: 1rem;
      }
    }

    @media (min-width: 1600px) {
      font-size: 9rem;
    }

    @media (max-width: 64.05em) and (min-width: 49em) {
      font-size: 13.5rem;
      line-height: 17.3rem;
    }

    @media (max-width: 49em) {
      margin-right: auto;
      margin-left: auto;

      flex-direction: column;

      font-size: 8.1rem;
      line-height: 85%;
      letter-spacing: -0.09em;

      span {
        &:last-child {
          margin-left: 122px;
        }
      }
    }
  }

  &__text {
    font-size: 16px;
    line-height: 21px;

    @media (max-width: 64.05em) {
      max-width: 600px;

      line-height: 18px;
    }
  }

  &__text-link {
    margin-left: 5px;

    display: inline-block;

    color: #caff34ff;
  }

  &__video-wrap {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    @media (max-width: 49em) {
      top: auto;
      bottom: 0;

      height: 79%;
    }
  }
}
