.mainpage {
  overflow: hidden;
}

.hero {
  &__video,
  video {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__container {
    position: relative;
    z-index: 1;

    padding-bottom: 11px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;

    overflow: hidden;

    @media (min-width: 64.05em) {
      padding-top: 133px;
    }

    @media (max-width: 64.05em) and (min-width: 48em) {
      padding-bottom: 16px;
    }

    @media (max-width: 48em) {
      padding-bottom: 32px;
    }
  }

  &__title {
    margin-bottom: auto;
    padding-top: 310px;

    display: flex;
    justify-content: space-between;

    font-family: "Druk Text Wide Cyr";
    font-weight: 700;
    font-size: 90px;
    line-height: 114px;
    letter-spacing: -0.06em;

    @media (max-width: 64.05em) and (min-width: 48em) {
      padding-top: 639px;

      font-size: 72.8805px;
      line-height: 92px;
    }

    @media (max-width: 48em) {
      padding-top: 159px;

      flex-direction: column;

      font-size: 46.34px;
      line-height: 85%;
      letter-spacing: -0.09em;

      span {
        &:last-child {
          margin-left: 122px;
        }
      }
    }
  }

  &__text {
    font-size: 16px;
    line-height: 21px;

    @media (max-width: 64.05em) {
      max-width: 600px;

      line-height: 18px;
    }
  }

  &__text-link {
    margin-left: 5px;

    display: inline-block;

    color: #caff34ff;
  }

  &__video-wrap {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    @media (max-width: 48em) {
      top: auto;
      bottom: 0;

      height: 79%;
    }
  }
}
