.mainpage {
  overflow: hidden;
}

.hero {
  &__video,
  video {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__container {
    position: relative;
    z-index: 1;

    padding-bottom: 12px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    height: 100%;

    overflow: hidden;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.1em) {
        padding-bottom: 17px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        padding-bottom: 32px;
      }
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    justify-content: space-between;
    width: calc(100% - 45px);

    font-family: "Druk Text Wide Cyr";
    font-weight: 700;

    font-size: 89px;
    line-height: 81px;
    letter-spacing: -5px;

    transform: translate(-50%, -39%);

    span {
      ._page-loaded & {
        &:first-child {
          transform: translateX(-110%);
          opacity: 0;
        }
        &:last-child {
          transform: translateX(110%);
          opacity: 0;
        }
      }
    }

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.1em) {
        font-size: 72px;
        line-height: 59px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        top: 17%;

        flex-direction: column;
        width: calc(100% - 32px);
        max-width: 398px;

        font-size: 46px;
        line-height: 39px;
        letter-spacing: -4px;

        transform: translate(-50%, 0);

        span {
          &:last-child {
            align-self: flex-end;
          }
        }
      }
    }
  }

  &__text {
    font-size: 16px;
    line-height: 21px;

    ._zoom-tab &,
    &:not(._zoom &),
    ._zoom-mob & {
      @media (max-width: 64.05em) {
        max-width: 600px;

        line-height: 18px;
      }
    }
  }

  &__text-link {
    margin-left: 5px;

    display: inline-block;

    color: #caff34ff;
  }

  &__video-wrap {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    ._page-loaded & {
      opacity: 0;
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        top: auto;
        bottom: 0;

        height: 79%;
      }
    }
  }
}
