.item-card {
  @media (max-width: 48em) {
    padding-top: 100px;
  }

  &__container {
    position: relative;

    display: flex;
    column-gap: 15px;

    @media (max-width: 48em) {
      flex-direction: column;
    }
  }

  &__swiper-wrapper {
    @media (min-width: 48em) {
      flex-direction: column;
    }
  }

  &__carousel,
  .slide-item-card__image {
    @media (max-width: 48em) {
      height: 565px;
    }
  }

  &__carousel {
    position: relative;

    flex: 0 0 50.5%;
    width: 50.5%;

    transform: translateX(-14px);

    @media (max-width: 48em) {
      margin-bottom: 13px;

      width: calc(100% + 32px);

      transform: translateX(-16px);
    }
  }

  &__slider-btn {
    position: absolute;
    z-index: 2;
    top: 227px;

    &_prev {
      left: 18px;
    }

    &_next {
      right: 18px;

      transform: rotate(180deg);
    }

    @media (min-width: 48em) {
      display: none;
    }
  }

  &__slider-btn-icon {
    width: 23px;
    height: 23px;

    color: #000000;
  }

  &__thumbs-swiper {
    &.swiper {
      position: fixed;
      z-index: 2;
      left: 16px;
      top: calc(100vh - 122px - 16px);

      @media (max-width: 64.05em) and (min-width: 48em) {
        &[data-scroll] {
          display: none;
        }
      }

      @media (max-width: 48em) {
        position: absolute;
        bottom: 15px;
        top: auto;
        left: 18px;
      }
    }
  }

  &__swiper {
    @media (min-width: 48em) {
      &.swiper {
        padding-top: 1px;

        overflow: visible;
      }
    }
  }

  &__btn {
    height: 24px;

    .btn__txt {
      letter-spacing: 1.3px;
    }
  }

  &__content {
    position: absolute;
    right: 0;

    padding-right: 22px;
    padding-top: 288px;

    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100vh;

    @media (max-width: 64.05em) and (min-width: 48em) {
      position: fixed;
      padding-top: 204px;

      width: 48.2%;
    }

    @media (max-width: 48em) {
      position: static;

      padding-right: 0;
      padding-top: 0;
      padding-bottom: 85px;

      height: auto;
      width: 100%;
    }
  }

  &__head {
    margin-bottom: 66px;

    display: flex;
    flex-direction: column;

    @media (min-width: 64.05em) {
      padding-right: 7px;
      margin-bottom: 80px;
      margin-left: auto;
      margin-right: -15px;

      width: 365px;
    }

    @media (max-width: 48em) {
      margin-bottom: 30px;
    }
  }

  &__soldout {
    color: #ff234f;
  }

  &__title {
    margin-bottom: 32px;

    max-width: 107px;

    text-transform: uppercase;
    letter-spacing: 1px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 30px;
    }

    @media (max-width: 48em) {
      margin-bottom: 33px;
    }
  }

  &__parameters {
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 36px;
    }
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    @media (max-width: 48em) {
      row-gap: 14px;
    }
  }
}

.characteristic-item-card {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  min-height: 57px;
  column-gap: 13px;

  @media (max-width: 64.05em) and (min-width: 48em) {
    grid-template-columns: 1fr 259px;
  }

  @media (max-width: 48em) {
    display: flex;
    flex-direction: column;
    min-height: 77px;
  }

  &:not(:last-child) {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
  }

  &__text {
    line-height: 16px;

    a {
      text-decoration: underline;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: none;
        }
      }
    }

    @media (max-width: 48em) {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
}

.parameter-item-card {
  display: flex;
  align-items: center;
  column-gap: 22px;

  &__row {
    display: flex;
    column-gap: 9px;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__item {
    position: relative;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    appearance: none;

    &:checked {
      + .parameter-item-card__item-txt {
        color: #caff34ff;

        background-color: #000000;
        border: 0.5px solid #000000;
      }
    }
  }

  &__item-txt {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.4);

    text-transform: uppercase;

    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border 0.3s ease;
  }
}

.thumbs-slide-item-card {
  cursor: pointer;

  &.swiper-slide {
    width: 82px;
    height: 122px;

    &._is-active {
      display: none;
    }

    @media (max-width: 48em) {
      width: 58px;
      height: 86px;
    }
  }

  &__image-wrap {
    height: 100%;
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }
}

.slide-item-card {
  &.swiper-slide,
  .slide-item-card__image {
    height: 565px;

    @media (min-width: 48em) {
      height: 64.5vw;
      max-height: 982px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    width: auto;

    @media (max-width: 48em) {
      left: 50%;

      transform: translateX(-50%);
    }
  }
}
