.items-carousel {
  margin-bottom: 157px;

  .swiper-slide {
    height: auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__head {
    margin-bottom: 55px;
  }

  &__title {
    &.title {
      letter-spacing: -6px;
    }
  }

  &__body {
  }
}
