.item-card {
  &__container {
    display: flex;
    column-gap: 15px;
  }

  &__swiper-wrapper {
    flex-direction: column;
  }

  &__carousel {
    position: relative;

    flex: 0 0 757px;
    width: 757px;
    height: 100vh;
  }

  &__thumbs-swiper {
    &.swiper {
      position: fixed;
      z-index: 2;
      bottom: 16px;
      left: 16px;
    }
  }

  &__content {
    position: fixed;
    bottom: 0;
    right: 18px;

    padding-top: 160px;

    display: flex;
    flex-direction: column;
    width: 47%;
  }

  &__head {
    margin-bottom: 96px;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    width: 365px;
  }

  &__title {
    margin-bottom: 35px;

    max-width: 107px;

    text-transform: uppercase;
  }

  &__parameters {
    margin-bottom: 4px;

    display: flex;
    flex-direction: column;
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}

.characteristic-item-card {
  display: grid;
  grid-template-columns: repeat(2, 6fr);

  &:not(:last-child) {
    padding-bottom: 28px;

    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  }

  &__title {
    text-transform: uppercase;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
  }

  &__text {
    a {
      text-decoration: underline;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.parameter-item-card {
  display: flex;
  align-items: center;
  column-gap: 33px;

  &__row {
    display: flex;
    column-gap: 4px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__item {
    position: relative;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    appearance: none;

    &:checked {
      + .parameter-item-card__item-txt {
        color: $green;

        background-color: $black;
      }
    }
  }

  &__item-txt {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    height: 22px;
    border-radius: 12px;

    text-transform: uppercase;

    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
}

.thumbs-slide-item-card {
  cursor: pointer;

  &.swiper-slide {
    width: 82px;
    height: 122px;

    &._is-active {
      display: none;
    }
  }

  &__image-wrap {
    height: 100%;
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }
}

.slide-item-card {
  &.swiper-slide {
    height: 100vh;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    width: auto;
    height: 100vh;
  }
}
