.items-carousel {
  margin-bottom: 134px;

  @media (min-width: 64.05em) {
    .feed-card:first-child {
      .feed-card__group {
        column-gap: 72px;
      }
    }
  }

  @media (max-width: 64.05em) {
    margin-bottom: 123px;
  }

  @media (max-width: 48em) {
    margin-bottom: 104px;
  }

  .swiper-slide {
    height: auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__swiper-wrapper {
    &.swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 357px);
      justify-content: space-between;

      @media (max-width: 80em) and (min-width: 48em) {
        grid-template-columns: repeat(2, 403px);
      }

      @media (max-width: 48em) {
        grid-template-columns: 1fr;
        row-gap: 69px;
      }
    }
  }

  &__head {
    margin-bottom: 55px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 52px;
    }

    @media (max-width: 48em) {
      margin-bottom: 40px;
    }
  }

  &__title {
    &.title {
      letter-spacing: -6px;

      @media (max-width: 64.05em) {
        letter-spacing: -3px;
      }
    }
  }

  &__slide {
    @media (max-width: 64.05em) {
      &:not(:first-child, :nth-child(2)) {
        display: none;
      }
    }
  }

  &__body {
  }
}
