.items-carousel {
  margin-bottom: 134px;

  .feed-card__group {
    column-gap: 8rem;

    @media (max-width: 64.05em) and (min-width: 48em) {
      column-gap: 37rem;
    }

    @media (max-width: 48em) {
      column-gap: 15rem;
    }
  }

  @media (max-width: 64.05em) {
    margin-bottom: 123px;
  }

  @media (max-width: 48em) {
    margin-bottom: 104px;
  }

  .swiper-slide {
    height: auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__swiper-wrapper {
    &.swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 45.4rem);
      justify-content: space-between;
      row-gap: 5rem;

      //      @media (max-width: 80em) and (min-width: 64.05em) {
      //        grid-template-columns: repeat(3, 60rem);
      //      }

      @media (max-width: 64.05em) and (min-width: 48em) {
        grid-template-columns: repeat(2, 76rem);
      }

      @media (max-width: 48em) {
        grid-template-columns: 1fr;
        row-gap: 69px;
      }
    }
  }

  &__head {
    margin-bottom: 55px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-bottom: 52px;
    }

    @media (max-width: 48em) {
      margin-bottom: 40px;
    }
  }

  &__slide {
    @media (max-width: 64.05em) {
      &:not(:first-child, :nth-child(2)) {
        display: none;
      }
    }
  }

  &__body {
  }
}
