.lang {
  &__container {
    position: relative;

    padding-top: 37rem;

    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;

    @media (min-width: 1600px) {
      padding-top: 18rem;
    }

    @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
      padding-top: 113rem;
    }

    @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
      padding-top: 30rem;
    }

    @media (max-width: 48em) {
      flex-direction: column-reverse;
    }

    @media (max-width: 48em) and (min-height: 880px) {
      padding-top: 155px;
    }

    @media (max-width: 48em) and (max-height: 880px) {
      padding-top: 19rem;
    }
  }

  &__title {
    margin-bottom: auto;

    display: flex;
    flex-direction: column;

    @media (max-width: 64.05em) {
      margin-left: -5px;
    }

    .glitch-text {
      position: relative;

      margin-bottom: 7rem;

      transform: translate(9.2rem, 0);

      .letter {
        margin: 0 -0.9rem;
      }

      .glitch span {
        line-height: 79%;
        font-size: 25.8rem;

        @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
          line-height: 100%;
          font-size: 38.1rem;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
          line-height: 100%;
          font-size: 24rem;
        }

        @media (max-width: 48em) {
          line-height: 88.7%;
          font-size: 79px;
        }
      }

      .letter {
        height: 19.2rem;

        @media (min-width: 1600px) {
          height: 17.5rem;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
          height: 33rem;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
          height: 22rem;
        }

        @media (max-width: 48em) {
          margin: 0 -0.6rem;

          height: 68px;
        }
      }

      @media (min-width: 1600px) {
        margin-top: 1rem;
      }

      @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
        margin-bottom: 6rem;

        transform: translate(16rem, -1rem);
      }

      @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
        margin-bottom: 6rem;

        transform: translate(16rem, 1rem);
      }

      @media (max-width: 48em) {
        margin-bottom: 5rem;

        transform: translateX(-0.5rem);
      }
    }
  }

  &__text {
    font-size: 2.1rem;
    line-height: 2.7rem;

    @media (min-width: 1600px) {
      font-size: 1.6rem;
    }

    @media (max-width: 64.05em) and (min-width: 48.1em) {
      font-size: 3rem;
      line-height: 3rem;
    }

    @media (max-width: 48em) {
      font-size: 16px;
      line-height: 14px;
    }
  }

  &__title-txt {
    @media (max-width: 64.05em) and (min-width: 48.1em) {
      letter-spacing: -1rem;
    }

    @media (max-width: 48em) {
      letter-spacing: -0.6rem;
    }

    &_2 {
      margin-top: -4rem;
      margin-left: 62rem;

      @media (min-width: 1600px) {
        margin-left: 76rem;
      }

      @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
        margin-top: -5rem;
        margin-left: 96rem;
      }

      @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
        margin-top: -6rem;
        margin-left: 37rem;
      }

      @media (max-width: 48em) {
        margin-top: -30px;
      }

      @media (max-width: 48em) and (min-height: 880px) {
        margin-left: 210px;
      }
      @media (max-width: 48em) and (max-height: 880px) {
        margin-left: 30rem;
      }
    }

    &_3 {
      margin-left: 63rem;

      @media (min-width: 1600px) {
        margin-left: 76rem;
      }

      @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
        margin-left: 96rem;
      }
      @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
        margin-left: 37rem;
      }

      @media (max-width: 48em) and (min-height: 880px) {
        margin-left: 210px;
      }

      @media (max-width: 48em) and (max-height: 880px) {
        margin-left: 30rem;
      }
    }
  }

  &__image-wrap {
    position: absolute;

    &_right {
      top: 260px;
      right: 16px;

      display: flex;
      flex-direction: column;
      row-gap: 12px;

      .lang__image {
        width: 61rem;
        height: 29rem;

        @media (min-width: 1600px) {
          width: 43rem;
          height: 23rem;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
          width: 92rem;
          height: 51rem;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
          width: 58rem;
          height: 28rem;
        }

        @media (max-width: 48em) {
          width: 259px;
          height: 147px;
        }
      }

      @media (min-width: 1600px) {
        top: 18rem;
        right: 1rem;
      }

      @media (max-width: 64.05em) {
        right: 3rem;

        display: flex;
        flex-direction: column;
        row-gap: 2rem;
      }

      @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
        top: 70rem;
      }

      @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
        top: 24rem;
      }

      @media (max-width: 48em) {
        position: static;

        margin-left: auto;
      }
      @media (max-width: 48em) and (min-height: 880px) {
        margin-bottom: 109px;
      }

      @media (max-width: 48em) and (max-height: 880px) {
        margin-bottom: 3rem;
      }
    }

    &_left {
      left: 2rem;
      bottom: 2rem;

      width: 45.5rem;
      height: 28rem;

      @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
        width: 76rem;
        height: 46.4rem;
      }

      @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
        width: 53rem;
        height: 28.4rem;
      }

      @media (max-width: 48em) {
        left: 3rem;
        bottom: 3rem;

        width: calc(100% - 6rem);
        height: 229px;
      }

      @media (max-width: 48em) and (min-height: 880px) {
        height: 229px;
      }

      @media (max-width: 48em) and (max-height: 880px) {
        height: 35rem;
      }
    }
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }
}

.lang {
  &_ru {
    .lang {
      &__container {
        padding-top: 45rem;

        @media (min-width: 1600px) {
          padding-top: 35.1rem;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
          padding-top: 129rem;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
          padding-top: 38rem;
        }

        @media (max-width: 48em) {
          padding-top: 28.3rem;
        }
      }

      &__title {
        row-gap: 1rem;

        @media (max-width: 48em) {
          margin-left: 0;

          row-gap: normal;
        }
      }

      &__title-txt {
        @media (max-width: 48em) {
          letter-spacing: -0.3rem;
          line-height: 103%;
        }
      }

      &__title-content {
        @media (min-width: 1600px) {
          font-size: 9rem;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) {
          letter-spacing: -0.9rem;
        }

        @media (max-width: 48em) {
          letter-spacing: -0.4rem;
        }

        &_3 {
          margin-left: 63rem;

          @media (min-width: 1600px) {
            margin-left: 48rem;
          }

          @media (max-width: 64.05em) and (min-width: 48.1em) {
            margin-left: 31rem;
          }

          @media (max-width: 48em) {
            margin-left: 11.8rem;
            margin-top: -1rem;
          }
        }

        &_4 {
          margin-left: 62rem;
          margin-top: -1rem;

          @media (min-width: 1600px) {
            margin-left: 47rem;
          }

          @media (max-width: 64.05em) and (min-width: 48.1em) {
            margin-left: 31rem;
            margin-top: 0;
          }

          @media (max-width: 48em) {
            margin-left: 11.3rem;
            margin-top: -0.3rem;
          }
        }
      }

      &__image-wrap {
        &_left {
          @media (min-width: 1600px) {
            width: 35.7rem;
            height: 21.9rem;
          }

          @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
            left: 3rem;
            bottom: 3rem;

            width: 60rem;
            height: 37rem;
          }

          @media (max-width: 48em) {
            width: 258px;
            height: 149px;
          }
        }
        &_right {
          top: 31.7rem;
          right: 2rem;

          @media (min-width: 1600px) {
            top: 25.4rem;
          }

          @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
            top: 79.7rem;
          }

          @media (max-width: 48em) {
            margin-bottom: 2rem;
          }

          .lang__image {
            width: 45rem;
            height: 28rem;

            @media (min-width: 1600px) {
              width: 35.6rem;
              height: 21.9rem;
            }

            @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
              width: 91.5rem;
              height: 43.7rem;
            }

            @media (max-width: 48em) {
              width: 258px;
              height: 149px;
            }
          }
        }
      }
    }
  }
}
