.lang {
  &__container {
    position: relative;

    padding-top: 37rem;

    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        padding-top: 44vh;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        flex-direction: column-reverse;
      }
      @media (max-width: 48em) and (min-height: 800px) {
        padding-top: 46.6vh;
      }
      @media (max-width: 48em) and (max-height: 800px) {
        padding-top: 37.6vh;
      }
    }
  }

  &__title {
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    .glitch-text {
      position: relative;

      margin-bottom: 1.1rem;

      transform: translate(4.8%, -1.5rem);

      &:not(._zoom &) {
        @media (min-width: 64.05em) and (max-height: 900px) {
          transform: translate(4.8%, 0.5rem);
        }
      }

      .glitch span {
        line-height: 97%;
        font-size: 26.4rem;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            font-size: 41rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            font-size: 14rem;
          }
        }
      }

      .letter {
        margin: 0 -1.1rem;

        height: 21rem;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            margin: 0 -1.4rem;
            height: 32rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            height: 10rem;
          }
        }
      }

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          transform: translate(7.8%, -1.5rem);
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          transform: translate(-1.2%, -1rem);
        }
      }
    }
  }

  &__text {
    font-size: 2rem;
    line-height: 2.5rem;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        font-size: 3.3rem;
        line-height: 3.8rem;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) and (min-height: 800px) {
        font-size: 2.7rem;
      }
      @media (max-width: 48em) and (max-height: 800px) {
        font-size: 1.7rem;
      }
    }
  }

  &__title-txt {
    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        letter-spacing: -1rem;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      .sm-title {
        @media (max-width: 48em) and (max-height: 800px) {
          font-size: 4.9rem;
          letter-spacing: -0.5rem;
        }
      }
    }

    &_1 {
      margin-bottom: 1rem;

      transform: translateX(-100%);
      opacity: 0;

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          margin-left: -2rem;
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
        }
      }
    }

    &_2,
    &_3 {
      transform: translateX(-12rem);
      opacity: 0;
    }

    &_2 {
      margin-bottom: 1rem;
      margin-left: 63rem;

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          margin-left: 101rem;
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          margin-bottom: 0;
          margin-left: 35rem;
        }
      }
    }

    &_3 {
      margin-left: 63rem;

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          margin-left: 101rem;
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          margin-left: 35rem;
        }
      }
    }
  }

  &__image-wrap {
    position: absolute;

    &_right {
      top: 33.2rem;
      right: 2rem;

      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      width: 61.1rem;

      .lang__image {
        align-self: flex-end;
        width: 100%;
        height: 30rem;

        transform: translateX(-18rem);
        opacity: 0;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            height: 20vh;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) and (min-height: 800px) {
            height: 25.5rem;
          }
          @media (max-width: 48em) and (max-height: 800px) {
            height: 19.5rem;
          }
        }
      }

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          right: 3rem;

          row-gap: 2rem;
        }
      }

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          top: 27vh;

          width: 98.1rem;
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) and (min-height: 800px) {
          top: 16.5vh;

          width: 45.1rem;
        }
        @media (max-width: 48em) and (max-height: 800px) {
          top: 83px;

          width: 35.1rem;
        }
      }
    }

    &_left {
      left: 2rem;
      bottom: 2rem;

      width: 45.5rem;
      height: 28rem;

      transform: translateX(-100%);
      opacity: 0;

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          left: 3rem;
          bottom: 3rem;

          width: 80.5rem;
          height: 50rem;
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) and (max-height: 800px) {
          height: 25rem;
        }
        @media (max-width: 48em) and (min-height: 800px) {
          height: 24.4vh;
        }
        @media (max-width: 48em) {
          left: 3rem;
          bottom: 3rem;

          width: 69.5rem;
        }
      }
    }
  }

  &__image {
    height: 100%;

    object-fit: cover;
  }
}
