.loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-color: #000000;

  &__video-wrap {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 1235px;

    transform: translate(-50%, -50%);

    @media (max-width: 1235px) and (min-width: 48em) {
      width: 100vw;
    }

    @media (max-width: 48em) {
      width: 800px;
    }
  }

  &__video {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__text {
    position: absolute;
    bottom: 30px;
    left: 50%;

    font-family: "DrukTextWideCyr";
    font-size: 16px;
    letter-spacing: 0.4px;

    opacity: 0;
    transform: translateX(-50%);
  }
}
