.lang {
  &_ru {
    .lang {
      &__container {
        padding-top: 45rem;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) and (max-height: 1100px) and (min-height: 660px) {
            padding-top: 38vh;
          }
          @media (max-width: 64.05em) and (min-width: 48.05em) and (min-height: 1100px) {
            padding-top: 50vh;
          }
          @media (max-width: 64.05em) and (min-width: 48.05em) and (max-height: 660px) {
            padding-top: 52rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            padding-top: 37.6vh;
          }
        }
      }

      &__title {
        row-gap: 1rem;

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            margin-left: 0;

            row-gap: normal;
          }
        }
      }

      &__title-txt {
        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            letter-spacing: -0.3rem;
            line-height: 103%;
            font-size: 6.3rem;
          }
        }
      }

      &__title-content {
        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            letter-spacing: -0.9rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            letter-spacing: -0.4rem;
          }
        }

        &_1,
        &_2 {
          transform: translateX(-110%);
          opacity: 0;
        }

        &_3,
        &_4 {
          transform: translateX(-40%);
          opacity: 0;
        }

        &_3 {
          margin-left: 63rem;

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) and (min-width: 48.05em) {
              margin-left: 31rem;
            }
          }
          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) {
              margin-left: 11.8rem;
              margin-top: -1rem;
            }
          }
        }

        &_4 {
          margin-left: 62rem;
          margin-top: 0;

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) and (min-width: 48.05em) {
              margin-left: 31rem;
              margin-top: 0;
            }
          }

          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) {
              margin-left: 11.3rem;
              margin-top: -0.3rem;
            }
          }
        }
      }

      &__image-wrap {
        &_right {
          top: 32rem;

          width: 45.1rem;

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) and (min-width: 48.05em) and (max-height: 1100px) and (min-height: 660px) {
              top: 23rem;
            }
            @media (max-width: 64.05em) and (min-width: 48.05em) and (min-height: 1100px) {
              top: 30.5vh;
            }
            @media (max-width: 64.05em) and (min-width: 48.05em) {
              row-gap: 3rem;
            }
          }

          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) {
              top: 17.5vh;

              width: 46.1rem;
            }
          }

          .lang__image {
            height: 28rem;

            ._zoom-tab &,
            &:not(._zoom &) {
              @media (max-width: 64.05em) and (min-width: 48.05em) {
                height: 17.2vh;
              }
            }
          }
        }

        &_left {
          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) and (min-width: 48.05em) {
              left: 3rem;
              bottom: 3rem;

              width: 64rem;
              height: 39rem;
            }
          }

          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) {
              width: 45.5rem;
              height: 15.4vh;
            }
          }
        }
      }
    }
  }
}

.footer-main {
  &_ru {
    .footer__list:not(.footer-main .footer__list_sublist) {
      transform: translate(0rem, 8rem);
    }

    .footer-main {
      &__container {
        padding-top: 20.5rem;
      }

      &__title {
        margin-bottom: 1rem;

        .glitch-text {
          margin-bottom: -1rem;

          transform: none;

          .glitch span {
            font-family: "Druk Text Wide Cyr";
            line-height: 123%;

            ._zoom-tab &,
            ._zoom-mob &,
            &:not(._zoom &) {
              @media (max-width: 64.05em) {
                line-height: 148%;
              }
            }

            ._zoom-tab &,
            &:not(._zoom &) {
              @media (max-width: 64.05em) and (min-width: 48.05em) {
                font-size: 21rem;
              }
            }
          }

          .letter {
            margin: 0 -1.1rem;

            ._zoom-tab &,
            &:not(._zoom &) {
              @media (max-width: 64.05em) and (min-width: 48.05em) {
                height: 22rem;
              }
            }
          }

          &:first-child {
            margin-left: -2rem;

            .glitch span {
              font-size: 16rem;

              ._zoom-mob &,
              &:not(._zoom &) {
                @media (max-width: 48em) {
                  font-size: 7rem;
                }
              }
            }
            .letter {
              height: 16rem;

              ._zoom-tab &,
              &:not(._zoom &) {
                @media (max-width: 64.05em) and (min-width: 48.05em) {
                  height: 25rem;
                }
              }

              ._zoom-mob &,
              &:not(._zoom &) {
                @media (max-width: 48em) {
                  height: 8rem;
                }
              }
            }
          }

          &:nth-child(2) {
            transform: translate(18rem, -2rem);

            .glitch span {
              font-size: 10.2rem;
            }
            .letter {
              height: 10rem;

              &:first-child {
                margin-right: 4.4rem;
              }
            }
          }
        }
      }

      &__title-txt {
        margin-bottom: 0;

        font-size: 10.1rem;
        letter-spacing: -0.6rem;
        font-family: "Druk Text Wide Cyr";

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            font-size: 6.1rem;
          }
        }
      }
    }
  }
}

.victory {
  &_ru {
    .victory {
      &__container {
        padding-bottom: 0;

        justify-content: flex-end;
      }
      &__title {
        margin-right: 0;
        margin-left: 1rem;

        .glitch-text {
          margin-bottom: 0;

          transform: none;

          .glitch-text-content .glitch span {
            ._zoom-mob &,
            &:not(._zoom &) {
              @media (max-width: 48em) {
                line-height: 137%;
              }
              @media (max-width: 48em) and (min-height: 500px) {
                font-size: 6.3rem;
              }
              @media (max-width: 48em) and (max-height: 500px) {
                font-size: 10rem;
              }
            }
          }

          &.ran {
            &:nth-child(1) {
              margin-left: -2rem;
            }

            &:nth-child(2) {
              margin-left: 10rem;

              ._zoom-desk &,
              &:not(._zoom &) {
                @media (min-width: 64.05em) {
                  margin-bottom: -1.8rem;
                }
              }

              ._zoom-mob &,
              &:not(._zoom &) {
                @media (max-width: 48em) {
                  margin-left: 2rem;
                }
              }
            }

            &:nth-child(3) {
              margin-left: 25rem;

              ._zoom-tab &,
              &:not(._zoom &) {
                @media (max-width: 64.05em) and (min-width: 48.05em) {
                  margin-left: 25rem;
                }
              }

              ._zoom-mob &,
              &:not(._zoom &) {
                @media (max-width: 48em) {
                  margin-left: 8rem;
                }
              }
            }
          }

          .letter {
            margin: 0 -1.2rem;

            height: 16rem;

            ._zoom-tab &,
            &:not(._zoom &) {
              @media (max-width: 64.05em) and (min-width: 48.05em) {
                height: 17rem;
              }
            }

            ._zoom-mob &,
            &:not(._zoom &) {
              @media (max-width: 48em) {
                margin: 0 -0.8rem;
              }
              @media (max-width: 48em) and (max-height: 500px) {
                height: 9rem;
              }
              @media (max-width: 48em) and (min-height: 500px) {
                height: 5rem;
              }
            }
          }

          .glitch span {
            font-size: 17.7rem;
            font-family: "Druk Text Wide Cyr";
            font-weight: 700;
            line-height: 121%;

            ._zoom-tab &,
            &:not(._zoom &) {
              @media (max-width: 64.05em) and (min-width: 48.05em) {
                font-size: 18.3rem;
                line-height: 130%;
              }
            }
          }
        }
      }
    }
  }
}

.about {
  &_ru {
    .about {
      &__text {
        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            line-height: 3rem;
          }
        }
      }
      &__image-wrap {
        margin-bottom: 0.6rem;

        height: 27.4rem;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            margin-bottom: 24.5vh;

            height: 35.4rem;
            width: 64rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            height: 24.5rem;
          }
          @media (max-width: 48em) and (min-height: 500px) {
            margin-bottom: 31vh;
          }
          @media (max-width: 48em) and (max-height: 500px) {
            margin-bottom: 10rem;
          }
        }
      }
      &__title {
        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            margin-left: 0;

            row-gap: 0;
          }
        }
        .letter {
          margin: 0 -1.7rem;

          height: 21rem;

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) and (min-width: 48.05em) {
              height: 25.5rem;
            }
          }

          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) {
              height: 8.4rem;
            }
          }
        }
        > .glitch-text:first-child {
          margin-left: 1.2rem;

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) and (min-width: 48.05em) {
              margin-left: 3.2rem;
              margin-bottom: -1rem;
            }
          }

          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) {
              margin-left: -1rem;
              margin-bottom: 0;
            }
          }

          .letter {
            margin: 0 -1.4rem;

            ._zoom-tab &,
            &:not(._zoom &) {
              @media (max-width: 64.05em) and (min-width: 48.05em) {
                margin: 0 -1.5rem;
              }
            }

            ._zoom-mob &,
            &:not(._zoom &) {
              @media (max-width: 48em) {
                margin: 0 -0.7rem;
              }
            }
          }
        }
      }
      &__title-txt {
        &.sm-title {
          margin-left: auto;
        }

        font-size: 10.2rem;
        letter-spacing: -0.6rem;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            font-size: 11.1rem;
            letter-spacing: -0.2rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            letter-spacing: -0.5rem;
          }
          @media (max-width: 48em) and (min-height: 500px) {
            font-size: 4.3rem;
          }
          @media (max-width: 48em) and (max-height: 500px) {
            font-size: 6.3rem;
          }
        }

        &.about__title-txt_sm_2 {
          margin-right: 15.5%;

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) and (min-width: 48.05em) {
              margin-right: 11.3%;
              margin-bottom: 1rem;
            }
          }

          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) {
              margin-right: 11%;
            }
          }
        }
        &.about__title-txt_sm_3 {
          margin-right: 7.6%;
          margin-bottom: 0.8rem;

          ._zoom-tab &,
          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) {
              margin-bottom: 0;
              margin-right: 0;
            }
          }

          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) {
            }
          }
        }

        .glitch span {
          font-size: 23.7rem;

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) and (min-width: 48.05em) {
              font-size: 25.7rem;
            }
          }

          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) {
              font-size: 9rem;
              line-height: 115%;
            }
          }
        }

        &_glitch {
          margin-bottom: 0;
          margin-left: 9%;

          display: flex;

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) and (min-width: 48.05em) {
              margin-bottom: 0;
              margin-left: 18rem;
            }
          }

          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) {
              margin-bottom: 0;
              margin-left: 5rem;
            }
          }

          .glitch-text:first-child {
            margin-right: 4.7rem;

            ._zoom-mob &,
            &:not(._zoom &) {
              @media (max-width: 48em) {
                margin-right: 2.9rem;
              }
            }

            .letter {
              margin: 0 -1.2rem;

              ._zoom-mob &,
              &:not(._zoom &) {
                @media (max-width: 48em) {
                  margin: 0 -1rem;
                }
              }
            }
          }
          .glitch-text:last-child {
            .letter {
              margin: 0 -1.4rem;

              ._zoom-mob &,
              &:not(._zoom &) {
                @media (max-width: 48em) {
                  margin: 0 -0.7rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.feed-screen {
  &_ru {
    .feed-screen {
      &__title {
        &.title {
          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) {
              font-size: 6rem;
            }
          }
        }
      }
    }
  }
}
