.match {
  &[data-screen] {
    color: #000000;

    .match {
      &__container {
        padding-top: 14.3vh;
        padding-bottom: 1.5rem;

        min-height: 100%;
        height: 100%;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            padding-top: 14.4vh;
          }
          @media (max-width: 64.05em) and (min-width: 48.05em) and (max-height: 660px) {
            .table-match__row_head {
              display: none;
            }
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            .table-match__row_head {
              display: none;
            }
          }
          ._zoom-mob &,
          &:not(._zoom &) {
            @media (max-width: 48em) and (max-height: 500px) {
              padding-top: 15.4vh;
            }
            @media (max-width: 48em) and (min-height: 500px) {
              padding-top: 19.4vh;
            }
          }
        }
      }
      &__body {
        margin-bottom: auto;
      }
      &__head {
        margin-bottom: 1.5rem;

        opacity: 0;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            margin-bottom: 2rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            margin-bottom: 3.5rem;
          }
        }
      }
      &__filters {
        opacity: 0;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            margin-bottom: 5.7vh;
          }
        }
      }
      &__footer {
        opacity: 0;
      }
      &__title {
        margin-right: 0;

        font-size: 5.8rem;
        letter-spacing: 0.2rem;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            letter-spacing: 1rem;
          }
          @media (max-width: 64.05em) and (min-width: 48.05em) and (max-height: 660px) {
            font-size: 14.2rem;
          }
          @media (max-width: 64.05em) and (min-width: 48.05em) and (min-height: 660px) {
            font-size: 8.2rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            font-size: 7.7rem;
            letter-spacing: -0.1rem;
          }
        }
      }
    }

    .table-match {
      grid-auto-rows: 9.8rem;

      &__row {
        opacity: 0;
      }

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          grid-auto-rows: 15rem;
        }
      }
      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          grid-auto-rows: 7.8vh;
        }
      }
    }
  }

  &_has-margin {
    margin-bottom: 128px;

    .match__container {
      padding-bottom: 0;
    }
  }

  &_dark-theme {
    padding-top: 0;

    color: #ffffff;

    .match__container {
      padding-top: 0;
    }
  }

  &__container {
    padding-bottom: 12px;
    padding-top: 12px;

    display: flex;
    flex-direction: column;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        padding-top: 132px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        padding-top: 119px;
      }
    }
  }

  &__filters {
    margin-bottom: 23px;

    display: flex;
    column-gap: 7px;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        margin-bottom: 78px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) and (min-height: 880px) {
        margin-bottom: 73px;
      }
      @media (max-width: 48em) and (max-height: 880px) {
        margin-bottom: 1rem;
      }
    }
  }

  &__head {
    margin-bottom: 12px;

    display: flex;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        margin-bottom: 12px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    margin-right: 757px;

    &.title {
      letter-spacing: -3px;

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (min-width: 48.05em) {
          letter-spacing: 0px;
          font-family: "Druk Wide";
        }
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    &:not(.match_dark-theme &, .mainpage &) {
      margin-bottom: 116px;

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          margin-bottom: 390px;
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          margin-bottom: 60px;
        }
      }
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(3, 8fr);
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    grid-column: 2/3;
    column-gap: 111px;

    transform: translateX(2px);

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        column-gap: 30px;
      }
    }
  }

  &__pagination-item {
    font-size: 12px;
    line-height: 16px;

    transition: opacity 0.3s ease;

    &._is-active {
      opacity: 0.3;
    }
  }

  &__arr-link {
    justify-self: end;
  }
}

.table-match {
  display: grid;
  grid-auto-rows: 72px;

  &__row {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 5fr repeat(2, 4fr) repeat(2, 3fr) 2fr;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.6);
    overflow: hidden;

    .match_dark-theme & {
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.6);
    }

    &_head {
      .table-match__subtitle {
        &:nth-child(2) {
          transform: translateX(3px);

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) {
              transform: translateX(6px);
            }
          }
        }

        &:nth-child(3) {
          transform: translateX(4px);

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) {
              transform: translateX(8px);
            }
          }
        }

        &:nth-child(4) {
          ._zoom-tab &,
          &:not(._zoom &) {
            @media (min-width: 64.05em) {
              transform: translateX(8px);
            }
          }
        }

        &:nth-child(5) {
          ._zoom-tab &,
          &:not(._zoom &) {
            @media (min-width: 64.05em) {
              transform: translateX(11px);
            }
          }
        }

        &:nth-child(6) {
          transform: translateX(13px);

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) {
              transform: translateX(14px);
            }
          }
        }

        &:nth-child(7) {
          transform: translateX(16px);

          ._zoom-tab &,
          &:not(._zoom &) {
            @media (max-width: 64.05em) {
              transform: translateX(14px);
            }
          }
        }
      }

      ._zoom-desk &,
      &:not(._zoom &) {
        @media (min-width: 64.05em) {
          grid-template-columns: repeat(4, 4fr) repeat(2, 3fr) 2fr;
        }
      }
    }

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        grid-template-columns: repeat(2, 3fr) repeat(3, 2fr);
      }
    }
    ._zoom-tab &,
    &:not(._zoom &, &_head) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        column-gap: 22px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        grid-template-columns: 1fr 3fr 2fr;

        &.table-match__row_head {
          grid-template-columns: repeat(3, 2fr);
        }
      }
    }
  }

  &__subtitle {
    .table-match__row_head & {
      max-width: 158px;
      overflow: hidden;

      text-overflow: ellipsis;

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          max-width: 97px;
        }
      }
    }

    &_has-icon {
      display: inline-flex;
      align-items: center;
      column-gap: 9px;

      transform: translateX(2px);

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          transform: translateX(-58px);
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          transform: translateX(7px);
        }
      }
    }

    &:last-child {
      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          transform: translateX(14px);
        }
      }
    }

    &:not(.table-match__row_head &) {
      &:nth-child(3) {
        padding-left: 6px;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            padding-left: 9px;
          }
        }
      }

      &:nth-child(4),
      &:nth-child(5) {
        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            padding-left: 10px;
          }
        }
      }

      &:nth-child(6) {
        padding-left: 14px;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            padding-left: 4px;
          }
        }
      }

      &:nth-child(7) {
        ._zoom-tab &,
        &:not(._zoom &) {
          @media (min-width: 64.05em) and (min-width: 48.05em) {
            padding-left: 16px;
          }
        }
      }
    }
  }

  &__subtitle-txt {
    display: block;
    max-width: 158px;
    overflow: hidden;

    text-overflow: ellipsis;

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        max-width: 97px;

        &:not(.table-match__row_head &) {
          max-width: 125px;

          white-space: nowrap;
        }
      }
    }
  }

  &__subtitle-icon {
    display: inline-flex;
    align-items: center;
    width: 55px;
    height: 25px;

    object-fit: contain;
  }
}
