.merch-screen {
  padding-top: 142px;
  padding-bottom: 17px;

  &::before {
    content: "";

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $white;
  }

  &__container {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
  }

  &__head {
    margin-bottom: 91px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    color: $black;
  }

  &__title {
    &.title {
      font-family: "Druk Wide";
      letter-spacing: 0;
    }
  }

  &__link {
    transform: translate(-25px, 10px);
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 262px;
    row-gap: 154px;
  }
}
