.merch {
  &[data-screen] {
    color: #000000;

    .item-merch__image-wrap {
      height: 35rem;

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) and (max-height: 660px) {
          height: 40rem;
        }
        @media (max-width: 64.05em) and (min-width: 48.05em) and (min-height: 660px) {
          height: 45rem;
        }
      }
      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          height: 31.5rem;
          max-height: 277px;
        }
      }
    }

    .merch {
      &__container {
        margin-bottom: 0;
        padding-top: 19rem;

        min-height: 100%;
        height: 100%;

        ._zoom-desk &,
        &:not(._zoom &) {
          @media (min-width: 64.05em) and (max-width: 1512px) and (max-height: 900px) {
            padding-top: 25rem;
          }
        }

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) and (max-height: 660px) {
            padding-top: 28rem;
          }
          @media (max-width: 64.05em) and (min-width: 48.05em) and (min-height: 660px) {
            padding-top: 39rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) and (min-height: 500px) {
            padding-top: 32rem;
          }
          @media (max-width: 48em) and (max-height: 500px) {
            padding-top: 27rem;
          }
        }
      }
      &__head {
        margin-bottom: 13rem;

        opacity: 0;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) and (max-height: 660px) {
            margin-bottom: -3rem;
          }
          @media (max-width: 64.05em) and (min-width: 48.05em) and (min-height: 660px) {
            margin-bottom: 11rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) and (min-height: 500px) {
            margin-bottom: 14vh;
          }
          @media (max-width: 48em) and (max-height: 500px) {
            margin-bottom: 2rem;
          }
        }
      }
      &__title {
        font-size: 6.4rem;
        letter-spacing: 0;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            font-size: 8.2rem;
            letter-spacing: 1rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            font-size: 7.5rem;
            letter-spacing: 0;
          }
        }
      }
      &__items {
        margin-bottom: 0;

        grid-template-columns: repeat(4, 22rem);
        row-gap: 19rem;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) and (min-height: 660px) {
            row-gap: 38.5rem;
          }
          @media (max-width: 64.05em) and (min-width: 48.05em) and (max-height: 660px) {
            row-gap: 5rem;
          }
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            grid-template: repeat(3, 43rem) / repeat(3, 29rem);
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            margin-bottom: 0;

            grid-template: 1fr auto / repeat(2, 21rem);
            row-gap: 0;
          }
        }
      }
      &__body,
      &__items {
        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            flex: 1 1 auto;
          }
        }
      }
      &__link {
        font-size: 1.6rem;

        transform: translate(-3.7rem, 1.6rem);

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            font-size: 2.3rem;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            font-size: 1.9rem;

            transform: translate(-4.6rem, -0.5rem);
          }
        }
      }
      &__item {
        opacity: 0;
      }
    }
  }

  &__container {
    margin-bottom: 20px;
    padding-top: 12px;

    display: flex;
    flex-direction: column;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        padding-top: 133px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        padding-top: 115px;
      }
    }
  }

  &__head {
    margin-bottom: 96px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        margin-bottom: 50px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        margin-bottom: 128px;
      }
    }
  }

  &__title {
    &.title {
      letter-spacing: 0.9px;

      ._zoom-desk &,
      &:not(._zoom &) {
        @media (min-width: 48em) {
          font-family: "Druk Wide";
        }
      }

      ._zoom-tab &,
      &:not(._zoom &) {
        @media (max-width: 64.05em) and (min-width: 48.05em) {
          letter-spacing: 0;
        }
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          letter-spacing: -2.4px;
        }
      }
    }
  }

  &__filter {
    margin-right: 116px;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        margin-right: 95px;
        margin-top: 6px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        margin-right: 44px;
        margin-top: -3px;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__items {
    margin-bottom: 249px;

    display: grid;
    grid-template-columns: repeat(3, 171px);
    justify-content: space-between;
    row-gap: 194px;

    &:first-child {
      margin-bottom: 199px;
    }

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        margin-bottom: 128px;

        grid-template-columns: repeat(3, 150px);
        row-gap: 128px;

        &:first-child {
          margin-bottom: 129px;
        }
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        margin-bottom: 153px;

        grid-template-columns: repeat(2, 119px);
        column-gap: normal;
        row-gap: 152px;

        &:first-child {
          margin-bottom: 171px;
        }
      }
    }
  }

  &__image-text {
    margin-bottom: 258px;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        margin-bottom: 235px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        margin-bottom: 216px;
      }
    }
  }
}

.image-text {
  position: relative;

  display: flex;
  justify-content: center;

  &._no-margin {
    margin-bottom: 0;
  }

  &_fw {
    max-width: 1920px;
    width: 100%;

    .image-text {
      &__image,
      &__image-wrap {
        height: 982px;

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48.05em) {
            height: 662px;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            height: 932px;
          }
        }
      }

      &__image-wrap {
        position: relative;

        width: 100%;
      }

      &__image {
        position: absolute;
        top: 0;
        left: -16px;

        width: calc(100% + 32px);

        ._zoom-tab &,
        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) {
            width: 100vw;
          }
        }
      }

      &__text {
        left: 3px;

        transform: translateY(1%);

        ._zoom-tab &,
        &:not(._zoom &) {
          @media (max-width: 64.05em) and (min-width: 48em) {
            transform: none;
          }
        }

        ._zoom-mob &,
        &:not(._zoom &) {
          @media (max-width: 48em) {
            left: 0;

            transform: translateY(-78%);
          }
        }

        &_5 {
          justify-content: stretch;
          .image-text__text-content {
            &:first-child {
              margin-right: 13%;

              ._zoom-tab &,
              &:not(._zoom &) {
                @media (max-width: 64.05em) and (min-width: 48.05em) {
                  margin-right: 11.5%;
                }
              }

              ._zoom-mob &,
              &:not(._zoom &) {
                @media (max-width: 48em) {
                  margin-right: 8.5%;
                }
              }
            }
            &:nth-child(2) {
              margin-right: 11%;

              ._zoom-tab &,
              &:not(._zoom &) {
                @media (max-width: 64.05em) and (min-width: 48.05em) {
                  margin-right: 7.4%;
                }
              }

              ._zoom-mob &,
              &:not(._zoom &) {
                @media (max-width: 48em) {
                  margin-right: 7%;
                }
              }
            }
            &:nth-child(3) {
              margin-right: 10.6%;

              ._zoom-tab &,
              &:not(._zoom &) {
                @media (max-width: 64.05em) and (min-width: 48.05em) {
                  margin-right: 9.6%;
                }
              }

              ._zoom-mob &,
              &:not(._zoom &) {
                @media (max-width: 48em) {
                  margin-right: 11%;
                }
              }
            }
            &:nth-child(4) {
              margin-right: 32%;

              ._zoom-tab &,
              &:not(._zoom &) {
                @media (max-width: 64.05em) and (min-width: 48.05em) {
                  margin-right: 28.2%;
                }
              }

              ._zoom-mob &,
              &:not(._zoom &) {
                @media (max-width: 48em) {
                  margin-right: 17.2%;
                }
              }
            }
            &:nth-child(5) {
              transform: translateX(-13px);
            }
          }
        }
      }
    }
  }

  &__image {
    width: 819px;
    height: 530px;

    object-fit: cover;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        width: 654px;
        height: 426px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        width: 280px;
        height: 181px;
      }
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 0;

    display: flex;
    justify-content: space-between;
    width: 100%;

    font-size: 36.4111px;
    line-height: 47px;

    transform: translateY(-50%);

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48.05em) {
        font-size: 32px;
        line-height: 32px;

        transform: translateY(-31%);
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        font-size: 18px;
        line-height: 18px;
      }
    }
  }

  &__text-content {
    &_white {
      color: #ffffff;
    }
  }
}
