.order-confirm {
  margin-bottom: 130px;
  padding-top: 140px;

  @media (max-width: 64.05em) and (min-width: 48em) {
    padding-top: 412px;
  }

  @media (max-width: 48em) {
    margin-bottom: 105px;
    padding-top: 168px;
  }

  &_err {
    .order-confirm {
      &__text {
        margin-bottom: 52px;

        max-width: 350px;
      }
      &__btn {
        min-width: 119px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  &__image-wrap {
    margin-bottom: 32px;

    width: 156px;
  }

  &__title {
    margin-bottom: 19px;

    max-width: 556px;

    &.title {
      line-height: 39px;
    }

    @media (max-width: 48em) {
      margin-bottom: 24px;

      &.title {
        font-size: 32px;
        line-height: 85%;
      }

      &:not(._page-loaded &) {
        height: 932px;
      }
    }
  }

  &__text {
    margin-bottom: 26px;

    max-width: 434px;

    font-size: 18px;
    line-height: 24px;
  }

  &__text-link {
    color: #caff34ff;
  }

  &__btn {
    background-color: transparent;
  }
}
