.team {
  padding-top: 143px;

  overflow: hidden;

  @media (max-width: 64.05em) and (min-width: 48em) {
    padding-top: 143px;
  }

  @media (max-width: 48em) {
    padding-top: 153px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: calc(100vh - 147px);

    @media (max-width: 64.05em) {
      height: auto;
    }

    @media (max-width: 64.05em) and (min-width: 48em) {
      min-height: calc(100vh - 149px);
    }

    @media (max-width: 48em) {
      min-height: calc(100vh - 155px);
    }
  }

  &__title {
    &.title {
      letter-spacing: -5.2px;
    }

    ._page-loaded & {
      transform: translateX(-2px);
    }

    @media (max-width: 48em) {
      &:not(._page-loaded &) {
        height: 39px;
      }
    }
  }

  &__head {
    position: relative;
    z-index: 2;
  }

  &__body {
    display: flex;
    flex: 1 1 auto;

    @media (min-width: 64.05em) {
      align-items: center;
      height: 55vh;
    }
  }

  &__carousel {
    position: relative;

    width: 100%;
    height: 637px;

    @media (max-width: 64.05em) {
      margin-bottom: 140px;

      height: 480px;
    }
  }

  &__nav-btn {
    position: absolute;
    z-index: 3;
    top: 228px;

    cursor: pointer;

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;

      transform: rotate(180deg);
    }

    @media (max-width: 64.05em) and (min-width: 49em) {
      top: 442px;
    }

    @media (max-width: 49em) {
      top: 274px;
    }
  }

  &__nav-btn-icon {
    width: 25px;
    height: 20px;
  }

  &__footer {
    position: relative;
    z-index: 2;

    padding-bottom: 5px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 30px;

    @media (max-width: 49em) {
      padding-bottom: 8px;
    }
  }

  &__name {
    margin-bottom: auto;

    min-width: 220px;

    font-size: 36.4111px;
    line-height: 1;
  }

  &__swiper {
    &.swiper {
      height: 100%;

      overflow: visible;
    }
  }

  &__info {
    margin-left: 85px;

    display: flex;
    column-gap: 153px;

    @media (max-width: 49em) {
      display: none;
    }
  }

  &__fraction {
    min-width: 35px;

    font-size: 16px;
    line-height: 21px;
    letter-spacing: 4px;

    transform: translate(1px, -1px);

    @media (max-width: 49em) {
      transform: translate(7px, -1px);
    }
  }
}

.slide-team {
  &.swiper-slide {
    display: flex;

    &.swiper-slide-active {
      z-index: 3;
    }
  }

  &__inner {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    video {
      position: absolute;
      top: -386px;

      left: 50%;

      width: 90vw;
      height: 194%;

      object-fit: cover;

      pointer-events: none;

      @media (min-width: 49em) {
        transform: translate(-50%, 0);
      }

      @media (max-width: 64.05em) and (min-width: 49em) {
        top: -181px;

        width: 131%;
        height: 260%;
      }

      @media (max-width: 49em) {
        top: -78px;
        left: -8px;

        width: 100vw;
        height: 720px;
      }
    }
  }
}
