.victory {
  &__container {
    padding-top: 572px;

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__text {
    position: absolute;

    bottom: 12px;
    left: 17px;

    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
  }

  &__title {
    margin-left: auto;

    display: flex;
    flex-direction: column;

    .glitch-text {
      transform: translateX(-359px);
    }

    .glitch {
      font-size: 200px;
      line-height: 88%;
    }
  }

  &__title-txt {
    &_sm {
    }
  }

  &__video-wrap {
    position: absolute;
    top: 0;
    left: -90px;

    width: calc(100% + 95px);
    height: 100%;

    overflow: hidden;

    .vjs_video_3-dimensions,
    video {
      width: 100%;
      height: 100%;
    }

    video {
      position: absolute;
      top: -183px;
      left: -320px;

      width: 2469px;
      height: 1165px;

      object-fit: cover;
      object-position: left top;
    }
  }
}
