.victory {
  &__container {
    padding-top: 140px;

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;

    --gradient: 0%;
    --y: 0;
    --opacity: 1;
    --deg1: 180deg;
    --deg2: 0deg;

    &::before,
    &::after {
      content: "";

      position: absolute;
      left: 0;

      width: 100%;
      height: 50vh;

      opacity: var(--opacity);

      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) var(--gradient)
      );
    }

    &::before {
      top: 0;

      transform: rotate(var(--deg1)) translateY(var(--y));
    }

    &::after {
      bottom: 0;

      transform: rotate(var(--deg2)) translateY(var(--y));
    }
  }

  &__title {
    display: flex;
    flex-direction: column;

    .letter {
      height: 258px;

      .glitch {
        height: 25.8px;
        font-size: 290px;
      }
    }

    span:first-child {
      align-self: flex-end;
    }
  }

  &__title-txt {
    &:first-child {
      transform: translate(40px, 35px);
    }
    &:last-child {
      transform: translate(-16px, 7px);
    }
  }

  &__text {
    font-size: 18px;
    line-height: 23px;

    transform: translateY(-11px);
  }

  &__video-wrap {
    position: absolute;
    top: 0;
    left: -95px;

    width: calc(100% + 95px);
    height: 100%;

    overflow: hidden;

    .vjs_video_3-dimensions,
    video {
      width: 100%;
      height: 100%;
    }

    video {
      position: absolute;
      top: -163px;
      left: -320px;

      width: 2469px;
      height: 1145px;

      object-fit: cover;
      object-position: left top;
    }
  }
}
