.victory {
  &__layer {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    transform: translateY(-50%);

    --opacity: 0;

    --sHeight: 0;
    --sHeightFW: 20px;
    --lHeight: 50%;

    --yTop: 0;
    --yBottom: 0;

    &._fw {
      span {
        height: var(--sHeightFW);

        &:nth-child(2),
        &:nth-child(12) {
          background-color: rgba(0, 0, 0, 0.2);
        }
        &:nth-child(3),
        &:nth-child(11) {
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:nth-child(4),
        &:nth-child(10) {
          background-color: rgba(0, 0, 0, 0.4);
        }
        &:nth-child(5),
        &:nth-child(9) {
          background-color: rgba(0, 0, 0, 0.5);
        }
        &:nth-child(6),
        &:nth-child(8) {
          background-color: rgba(0, 0, 0, 0.6);
        }

        &:nth-child(7) {
          height: var(--lHeight);

          background-color: rgba(0, 0, 0, 1);

          &::before {
            top: -1.5%;
          }

          &::after {
            bottom: -1.5%;
          }

          &::before,
          &::after {
            content: "";

            position: absolute;
            left: 0;

            width: 100%;
            height: 20%;

            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0) 0%,
              rgba(0, 0, 0, 1) 8%,
              rgba(0, 0, 0, 1) 50%,
              rgba(0, 0, 0, 1) 92%,
              rgba(255, 255, 255, 0) 100%
            );
          }
        }

        &:first-child,
        &:last-child {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    &:not(._fw) {
      span {
        height: var(--sHeight);

        &:first-child,
        &:last-child {
          height: var(--lHeight);

          background-color: rgba(0, 0, 0, 1);

          &::before {
            top: -2.5%;
          }

          &::after {
            bottom: -2.5%;
          }

          &::before,
          &::after {
            content: "";

            position: absolute;
            left: 0;

            width: 100%;
            height: 20%;

            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0) 0%,
              rgba(0, 0, 0, 1) 8%,
              rgba(0, 0, 0, 1) 50%,
              rgba(0, 0, 0, 1) 92%,
              rgba(255, 255, 255, 0) 100%
            );
          }
        }
        &:first-child {
          transform: translateY(var(--yTop));
        }
        &:last-child {
          transform: translateY(var(--yBottom));
        }
        &:nth-child(7) {
          flex: 1 1 auto;
        }

        &:nth-child(2),
        &:nth-child(12) {
          background-color: rgba(0, 0, 0, 0.6);
        }
        &:nth-child(3),
        &:nth-child(11) {
          background-color: rgba(0, 0, 0, 0.5);
        }
        &:nth-child(4),
        &:nth-child(10) {
          background-color: rgba(0, 0, 0, 0.4);
        }
        &:nth-child(5),
        &:nth-child(9) {
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:nth-child(6),
        &:nth-child(8) {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }

    span {
      position: relative;

      display: block;

      opacity: var(--opacity);
    }
  }

  &__container {
    position: relative;
    z-index: 1;

    padding-bottom: 1.6rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    height: 100dvh;
  }

  &__text {
    position: absolute;

    bottom: 12px;
    left: 17px;

    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;

    @media (min-width: 1600px) {
      font-size: 1.8rem;
      line-height: 2.3rem;
    }

    @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
      font-size: 12px;
      line-height: 12px;
    }

    @media (max-width: 48em) {
      position: static;

      margin: 0 auto;
      margin-bottom: -1rem;

      max-width: 500px;
      width: 100%;

      order: -1;

      font-size: 14px;
      line-height: 50px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;

    @media (max-width: 48em) {
      margin: 0 auto;

      max-width: 500px;
      width: 100%;
    }

    .ran {
      opacity: 0;
    }

    .letter {
      margin: 0 -1rem;

      height: 21rem;

      @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
        height: 16rem;
      }

      @media (max-width: 48em) {
        height: 76px;
      }
    }

    .glitch-text {
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: 28%;

      @media (min-width: 1600px) {
        margin-bottom: 0;
      }

      @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
        margin-bottom: 12rem;
        margin-left: 16%;
        margin-right: 0;
      }

      @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
        margin-bottom: -1rem;
        margin-left: 37%;
        margin-right: 0;
      }

      @media (max-width: 48em) {
        margin-bottom: 0;
        margin-right: 24%;
      }
    }

    .glitch {
      span {
        font-size: 25.6rem;
        line-height: 92%;

        @media (min-width: 1600px) {
          font-size: 20rem;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
          font-size: 37.6rem;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
          font-size: 17rem;
          line-height: 120%;
        }

        @media (max-width: 48em) {
          font-size: 86px;
          line-height: 120.7%;
        }
      }
    }
  }

  &__title-txt {
    margin-left: auto;

    @media (max-width: 64.05em) and (min-width: 48.1em) {
      letter-spacing: -1rem;
    }

    @media (max-width: 48em) {
      letter-spacing: -0.3rem;
    }

    &_sm {
      @media (max-width: 48em) {
        font-weight: 700;
        font-size: 37.5431px;
        line-height: 85%;
        letter-spacing: -2px;
      }

      &_1 {
        margin-right: 42.7%;

        transform: translateX(-30rem);
        opacity: 0;

        @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
          margin-bottom: -1rem;
          margin-right: auto;
          margin-left: 0;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
          margin-bottom: 0;
          margin-right: auto;
          margin-left: 15%;
        }

        @media (max-width: 48em) {
          margin-left: 0;
          margin-bottom: -0.2rem;
        }
      }

      &_2 {
        margin-right: 21.7%;
        margin-bottom: 1rem;

        transform: translateX(-15rem);
        opacity: 0;

        @media (max-width: 64.05em) and (min-width: 48.1em) {
          margin-right: 27.7%;
        }

        @media (max-width: 48em) {
          margin-right: 34.7%;
          margin-bottom: 1rem;
        }
      }

      &_3 {
        margin-bottom: -0.8rem;
        margin-right: 1%;

        transform: translateX(-6rem);
        opacity: 0;

        @media (max-width: 64.05em) and (min-width: 48.1em) and (min-height: 1200px) {
          margin-bottom: 1.5rem;
          margin-right: -2%;
        }

        @media (max-width: 64.05em) and (min-width: 48.1em) and (max-height: 1200px) {
          margin-bottom: 1.5rem;
          margin-right: 9%;
        }

        @media (max-width: 48em) {
          margin-bottom: 0.5rem;
          margin-right: -2%;
        }
      }
    }
  }

  &__video-wrap {
    position: absolute;
    top: 0;
    left: -16rem;

    width: calc(100% + 11rem);
    height: 100%;

    opacity: 0;

    @media (min-width: 1600px) {
      left: 0;
    }

    @media (max-width: 1300px) {
      left: 0;

      width: 100vw;
    }

    [data-videojs].victory__video {
      width: 100%;
      height: 100%;
    }

    video {
      position: absolute;
      left: -37rem;
      top: -22rem;

      height: 142vh;

      object-fit: cover;

      @media (min-width: 1600px) {
        left: 50%;
        bottom: -35vh;

        height: 149vh;
        min-height: 159rem;

        transform: translateX(-50%);
      }

      @media (max-width: 1300px) and (min-width: 48.1em) and (min-height: 1200px) {
        height: 76%;
      }

      @media (max-width: 1300px) and (min-width: 48.1em) {
        object-position: bottom;
      }

      @media (max-width: 1300px) {
        top: auto;
        bottom: 0;
        left: 0;

        width: 100%;
      }

      @media (max-width: 1300px) and (min-width: 48.1em) and (max-height: 1200px) {
        height: 113%;
      }

      @media (max-width: 48em) {
        height: 77%;
      }
    }
  }
}
