@font-face {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Suisse-Intl-Medium.woff2);
}
@font-face {
  font-family: "Druk Text Wide Cyr";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Druk-Text-Wide-Bold-Italic.woff2);
}
@font-face {
  font-family: "DrukTextWideCyr";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/druktextwidecyr-medium.woff2);
}
@font-face {
  font-family: "Druk Text Wide Cyr";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/druktextwidecyr-mediumitalic.woff2);
}
@font-face {
  font-family: "Druk Wide";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/DrukWide-BoldItalic.woff2);
}
