.footer {
  .footer-main__anchor {
    text-transform: uppercase;

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        justify-self: end;
      }
    }
  }
  &__container {
    padding-bottom: 12px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    ._zoom-tab &,
    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) {
        padding-bottom: 15px;
      }
    }

    ._zoom-mob &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 60px;
      }
    }
  }

  &__list {
    margin-top: -1px;
    margin-right: 2px;

    display: flex;
    flex-direction: column;
    row-gap: 23px;

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 64.05em) and (min-width: 48em) {
        margin-right: 25px;
        margin-top: -2px;
      }
    }

    &_sublist {
      padding-left: 63px;

      row-gap: 4px;

      ._zoom-tab &,
      &:not(._zoom &) {
      }
      @media (max-width: 64.05em) and (min-width: 48em) {
        padding-left: 84px;
      }

      ._zoom-mob &,
      &:not(._zoom &) {
        @media (max-width: 48em) {
          padding-left: 68px;
        }
      }
    }

    ._zoom-tab &,
    &:not(._zoom &) {
      @media (max-width: 48em) {
        &:not(&.footer__list_sublist) {
          margin-top: -4px;
          margin-right: 15px;

          row-gap: 15px;
          grid-row: 1/2;
          grid-column: span 2;
        }

        &._desktop-only {
          display: none;
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
  }
}
