.footer {
  &__container {
    padding-bottom: 12px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__list {
    margin-right: 2px;

    display: flex;
    flex-direction: column;
    row-gap: 29px;

    @media (max-width: 64.05em) and (min-width: 48em) {
      margin-right: 23px;
    }

    &_sublist {
      padding-left: 63px;

      row-gap: 4px;

      @media (max-width: 64.05em) and (min-width: 48em) {
        padding-left: 84px;
      }

      @media (max-width: 48em) {
        padding-left: 68px;
      }
    }

    @media (max-width: 48em) {
      margin-right: 6px;
      &._desktop-only {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
  }
}
