._show-header-menu {
  .actions-header {
    &__count {
      color: $black;

      background-color: $white;
    }
  }
  .header {
    &__logo-image {
      display: none;
      &_black {
        display: inline-block;
      }
    }
  }
}

.header {
  position: relative;
  z-index: 50;

  @media (max-width: 64.05em) {
    height: 65px;
  }

  .mainpage & {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
  }

  ._light-theme & {
    .header__logo-image_white {
      display: none;
    }
    .header__logo-image_black {
      display: inline-block;
    }
  }

  ._light-theme &,
  ._light-theme_green &._dark-theme {
    .header {
      &__hamburger {
        &::before,
        &::after {
          background-color: $black;
        }
      }
      &__nav-link {
        color: $black;
      }
    }
    .lang-header {
      &__text {
        color: $black;
      }
    }
    .actions-header {
      &__txt {
        color: $black;
      }
      &__count {
        &:not(._show-header-menu &, ._light-theme_green &) {
          ._light-theme & {
            background-color: $green;
          }
        }
      }
    }
  }

  &__container {
    position: relative;
    z-index: 51;

    padding: 16px 15px 0 15px;

    display: grid;
    grid-template-columns: 11fr 2fr 11fr;
    align-items: start;
    height: 100%;

    transition: background-color 0.3s ease;

    ._show-header-menu & {
      background-color: #caff34;
    }

    @media (max-width: 64.05em) {
      grid-template-columns: 5fr 2fr 5fr;

      &.container {
        padding: 16px 16px 0 16px;
      }
    }
  }

  &__inner {
    display: flex;

    &:last-child {
      justify-self: end;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 64.05em) {
      margin-right: 175px;
    }

    @media (min-width: 48em) {
      margin-top: -2px;

      row-gap: 0.2px;
    }
  }

  &__nav-link {
    line-height: 13.8px;

    @media (max-width: 64.05em) {
      font-family: "Druk Text Wide Cyr";
      font-weight: 700;
      line-height: 85%;
      letter-spacing: -0.06em;
      color: #000000;
    }
    @media (max-width: 64.05em) and (min-width: 48em) {
      font-size: 90px;
    }
    @media (max-width: 48em) {
      font-size: 46px;
    }
  }

  &__logo {
    justify-self: center;
    width: 48px;
  }

  &__logo-image {
    &_black {
      display: none;
    }

    @media (max-width: 48em) {
      height: 48px;
    }
  }

  &__hamburger {
    margin-right: 117px;

    display: flex;
    flex-direction: column;
    row-gap: 6px;

    &::before,
    &::after {
      content: "";

      width: 50px;
      height: 1px;

      background-color: $white;
    }

    @media (min-width: 64.05em) {
      display: none;
    }
    @media (max-width: 48em) {
      margin-right: 19px;
    }
  }
}

.lang-header {
  margin-top: -1px;

  display: flex;
  column-gap: 21px;

  &__item {
    position: relative;

    height: 11px;
  }

  &__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    appearance: none;
    opacity: 0;

    &:checked + .lang-header__text {
      opacity: 1;
    }
  }

  &__text {
    transition: opacity 0.3s ease;

    @media (min-width: 48em) {
      opacity: 0.3;
    }
  }
}

.actions-header {
  margin-top: -6px;

  display: flex;
  align-items: center;
  column-gap: 50px;

  @media (max-width: 64.05em) {
    column-gap: 35px;
  }

  @media (max-width: 64.05em) and (min-width: 48em) {
    transform: translateX(7px);
  }

  @media (max-width: 48em) {
    transform: none;
  }

  &__item {
    position: relative;

    padding-bottom: 8px;

    &_cart {
      @media (any-hover: hover) {
        &:hover {
          .cart-widget {
            transform: none;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  &__txt {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 21px;
    width: 21px;
    height: 20px;
    border-radius: 12px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;

    &:not(._show-header-menu &) {
      background-color: $green;

      ._light-theme_green &,
      .mainpage ._light-theme & {
        color: $white;

        background-color: $black;
      }
    }

    @media (max-width: 48em) {
      flex: 0 0 24px;
      width: 24px;
      height: 20px;
    }
  }
}
