*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Suisse Int'l";
  font-size: 0.5208335vw;
  zoom: unset;
  &.mainpage {
    &:not(&._zoom) {
      @media (min-width: 1600px) and (min-height: 1200px) {
        font-size: 10px;
      }
      @media (min-width: 1600px) and (max-width: 1920px) and (max-height: 1200px) {
        font-size: 7px;
      }
      @media (min-width: 1920px) and (max-height: 1200px) {
        font-size: 8px;
      }
      @media (min-width: 64.05em) and (min-height: 980px) and (max-width: 1600px) {
        font-size: calc((100 / 1024) * 5vw);
      }
      @media (min-width: 64.05em) and (max-height: 980px) and (max-width: 1600px) {
        font-size: calc((100 / 1024) * 3.6vw);
      }

      @media (max-width: 64.05em) and (min-width: 48.05em) and (min-height: 900px) {
        font-size: calc((100 / 1024) * 5vw);
      }
      @media (max-width: 64.05em) and (max-height: 900px) and (min-width: 48.05em) and (max-height: 660px) {
        font-size: calc((100 / 1024) * 2.5vw);
      }
      @media (max-width: 64.05em) and (max-height: 900px) and (min-width: 48.05em) and (min-height: 660px) {
        font-size: calc((100 / 1024) * 4vw);
      }

      @media (max-width: 48em) and (min-width: 600px) and (min-height: 500px) {
        font-size: calc((100 / 375) * 3.5vw);
      }
      @media (max-width: 48em) and (min-width: 600px) and (max-height: 500px) {
        font-size: calc((100 / 375) * 1.92vw);
      }
    }
  }
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  -webkit-animation: bugfix infinite 1s;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  color: $white;
  background-color: $black;
  -webkit-animation: bugfix infinite 1s;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  -webkit-animation: bugfix infinite 1s;
}

a {
  color: unset;
}
a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font: inherit;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

button {
  padding: 0;
  border: none;
  text-align: inherit;
  color: inherit;
  background-color: transparent;
  font: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  padding: 0 16px;
  margin: 0 auto;

  max-width: 2000px;
  width: 100%;

  .mainpage & {
    max-width: 2000px;
  }
}

html {
  @media (max-width: 48em) {
    -webkit-text-size-adjust: none;

    &:not(&._zoom) {
      font-size: 5px;
      font-size: 1.5625vw;
      font-size: calc((100 / 375) * 5vw);
    }

    body {
      -webkit-text-size-adjust: none;
    }

    &:not(&._zoom) {
      .container {
        max-width: none;
      }
    }
  }
}
@media (min-width: 1513px) {
  html {
    font-size: 7px;
  }
}
