<section data-screen class="about">
  <div class="about__container container">
    <p data-splitting class="about__text">
      ©<span class="current-year"></span>, AMKAL ESPORTS
    </p>
    <div class="about__image-wrap">
      <img
        class="about__image"
        src="./img/content/SPCMN_4636_A 1.webp"
        alt=""
      />
    </div>
    <span class="about__title">
      <span data-glitch-size="150,150,60" class="glitch-text io">
        <span class="about__title-txt glitch-text-content">going</span>
      </span>
      <span data-glitch-size="150,150,60" class="glitch-text lr">
        <span class="about__title-txt glitch-text-content">beyond</span>
      </span>
      <span
        class="about__title-txt about__title-txt_sm about__title-txt_sm_1 sm-title"
        >what</span
      >
      <span
        class="about__title-txt about__title-txt_sm about__title-txt_sm_2 sm-title"
        >has been</span
      >
      <span
        class="about__title-txt about__title-txt_sm about__title-txt_sm_3 sm-title"
        >done</span
      >
    </span>
  </div>
</section>
