<section data-screen class="feed-screen">
  <div class="feed-screen__container container">
    <div class="feed-screen__head">
      <h2 class="feed-screen__title title">FEED</h2>
      <a href="#" class="feed-screen__link txt-uc txt-uc_11">WATCH ALL</a>
    </div>
    <div class="feed-screen__body">
      <div class="feed-screen__swiper swiper">
        <ul class="feed-screen__swiper-wrapper swiper-wrapper">
          <li class="feed-screen__slide feed-card swiper-slide">
            <a href="#" class="feed-card__inner">
              <div class="feed-card__image-wrap">
                <img
                  decoding="sync"
                  class="feed-card__image"
                  src="./img/content/755432.webp"
                  alt=""
                />
              </div>
              <div class="feed-card__content">
                <h2 class="feed-card__title">
                  AMKAL ESPORTS is a Russian esports organization a media club
                  German Popkov
                </h2>
                <div class="feed-card__group">
                  <time datetime="2024-04-10" class="feed-card__date"
                    >10.04.24</time
                  >
                  <span class="feed-card__btn btn btn_ghost"
                    ><span class="btn__txt">READ MORE</span></span
                  >
                </div>
              </div>
            </a>
          </li>
          <li class="feed-screen__slide feed-card swiper-slide">
            <a href="#" class="feed-card__inner">
              <div class="feed-card__image-wrap">
                <img
                  decoding="sync"
                  class="feed-card__image"
                  src="./img/content/gamutador_anatomic_hand--v_6.webp"
                  alt=""
                />
              </div>
              <div class="feed-card__content">
                <h2 class="feed-card__title">
                  AMKAL ESPORTS is a Russian esports organization a media club
                  German Popkov
                </h2>
                <div class="feed-card__group">
                  <time datetime="2024-04-10" class="feed-card__date"
                    >10.04.24</time
                  >
                  <span class="feed-card__btn btn btn_ghost"
                    ><span class="btn__txt">READ MORE</span></span
                  >
                </div>
              </div>
            </a>
          </li>
          <li class="feed-screen__slide feed-card swiper-slide">
            <a href="#" class="feed-card__inner">
              <div class="feed-card__image-wrap">
                <img
                  decoding="sync"
                  class="feed-card__image"
                  src="./img/content/336d5837c12db6f94465d828538006d4.webp"
                  alt=""
                />
              </div>
              <div class="feed-card__content">
                <h2 class="feed-card__title">
                  AMKAL ESPORTS is a Russian esports organization a media club
                  German Popkov
                </h2>
                <div class="feed-card__group">
                  <time datetime="2024-04-10" class="feed-card__date"
                    >10.04.24</time
                  >
                  <span class="feed-card__btn btn btn_ghost"
                    ><span class="btn__txt">READ MORE</span></span
                  >
                </div>
              </div>
            </a>
          </li>
          <li class="feed-screen__slide feed-card swiper-slide">
            <a href="#" class="feed-card__inner">
              <div class="feed-card__image-wrap">
                <img
                  decoding="sync"
                  class="feed-card__image"
                  src="./img/content/gamutador_anatomic_hand--v_6.webp"
                  alt=""
                />
              </div>
              <div class="feed-card__content">
                <h2 class="feed-card__title">
                  AMKAL ESPORTS is a Russian esports organization a media club
                  German Popkov
                </h2>
                <div class="feed-card__group">
                  <time datetime="2024-04-10" class="feed-card__date"
                    >10.04.24</time
                  >
                  <span class="feed-card__btn btn btn_ghost"
                    ><span class="btn__txt">READ MORE</span></span
                  >
                </div>
              </div>
            </a>
          </li>
          <li class="feed-screen__slide feed-card swiper-slide">
            <a href="#" class="feed-card__inner">
              <div class="feed-card__image-wrap">
                <img
                  decoding="sync"
                  class="feed-card__image"
                  src="./img/content/08c811634a330cbae5e50c80af4bff2a.webp"
                  alt=""
                />
              </div>
              <div class="feed-card__content">
                <h2 class="feed-card__title">
                  AMKAL ESPORTS is a Russian esports organization a media club
                  German Popkov
                </h2>
                <div class="feed-card__group">
                  <time datetime="2024-04-10" class="feed-card__date"
                    >10.04.24</time
                  >
                  <span class="feed-card__btn btn btn_ghost"
                    ><span class="btn__txt">READ MORE</span></span
                  >
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="feed-screen__navigation">
        <button
          type="button"
          class="feed-screen__nav-btn feed-screen__nav-btn_prev"
        >
          <svg class="feed-screen__nav-btn-icon">
            <use href="#arr-svg"></use>
          </svg>
        </button>
        <button
          type="button"
          class="feed-screen__nav-btn feed-screen__nav-btn_next"
        >
          <svg class="feed-screen__nav-btn-icon">
            <use href="#arr-svg"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
