<div class="header-menu">
  <div class="header-menu__container container">
    <div class="header-menu__content">
      <nav class="nav-row__nav txt-uc">
        <a href="#" class="nav-row__nav-link">команда</a>
        <a href="#" class="nav-row__nav-link">манифест</a>
        <a href="#" class="nav-row__nav-link">партнеры</a>
        <a href="#" class="nav-row__nav-link">мерч</a>
        <a href="#" class="nav-row__nav-link">матчи</a>
        <a href="#" class="nav-row__nav-link">контакты</a>
        <a href="#" class="nav-row__nav-link">новости</a>
      </nav>
    </div>
  </div>
</div>
