<div class="header-menu">
  <div class="header-menu__container container">
    <div class="header-menu__content">
      <nav class="nav-row__nav txt-uc">
        <a href="#" class="nav-row__nav-link">TEAM</a>
        <a href="#" class="nav-row__nav-link">MANIFESTO</a>
        <a href="#" class="nav-row__nav-link">PARTNERS</a>
        <a href="#" class="nav-row__nav-link">MERCH</a>
        <a href="#" class="nav-row__nav-link">MATCH</a>
        <a href="#" class="nav-row__nav-link">CONTACT</a>
        <a href="#" class="nav-row__nav-link">FEED</a>
      </nav>
    </div>
  </div>
</div>
