<section data-screen="active" class="hero">
  <div class="hero__container container">
    <h1 class="hero__title"><span>AMKAL</span><span>ESPORTS</span></h1>
    <p data-splitting class="hero__text">
      Esports is a logical sequel to what we have been doing for a long time<a
        href="#"
        class="hero__text-link"
      >
        [Read more]</a
      >
    </p>
  </div>
  <div class="hero__video-wrap">
    <video
      data-videojs
      class="hero__video"
      src="./files/Gen-2 2087067954, gamutador__7f79ed93-, cam_Z 19_chf3_prob3111.mp4"
    ></video>
  </div>
</section>
