<section id="item-card" class="item-card">
  <div class="item-card__container container">
    <div class="item-card__carousel">
      <button class="item-card__slider-btn item-card__slider-btn_prev">
        <svg class="item-card__slider-btn-icon">
          <use href="#arr-svg"></use>
        </svg>
      </button>
      <div class="item-card__swiper swiper">
        <ul class="item-card__swiper-wrapper swiper-wrapper">
          <li class="item-card__slide slide-item-card swiper-slide">
            <div class="slide-item-card__image-wrap">
              <img
                class="slide-item-card__image"
                src="./img/items/551.webp"
                alt=""
              />
            </div>
          </li>
          <li class="item-card__slide slide-item-card swiper-slide">
            <div class="slide-item-card__image-wrap">
              <img
                class="slide-item-card__image"
                src="./img/items/98.webp"
                alt=""
              />
            </div>
          </li>
          <li class="item-card__slide slide-item-card swiper-slide">
            <div class="slide-item-card__image-wrap">
              <img
                class="slide-item-card__image"
                src="./img/items/99.webp"
                alt=""
              />
            </div>
          </li>
          <li class="item-card__slide slide-item-card swiper-slide">
            <div class="slide-item-card__image-wrap">
              <img
                class="slide-item-card__image"
                src="./img/items/100.webp"
                alt=""
              />
            </div>
          </li>
        </ul>
      </div>
      <div class="item-card__thumbs-swiper swiper">
        <ul class="item-card__thumbs-swiper-wrapper swiper-wrapper">
          <li
            class="item-card__thumbs-slide thumbs-slide-item-card swiper-slide _is-active"
          >
            <div class="thumbs-slide-item-card__image-wrap">
              <img
                class="thumbs-slide-item-card__image"
                src="./img/items/551.webp"
                alt=""
              />
            </div>
          </li>
          <li
            class="item-card__thumbs-slide thumbs-slide-item-card swiper-slide"
          >
            <div class="thumbs-slide-item-card__image-wrap">
              <img
                class="thumbs-slide-item-card__image"
                src="./img/items/98.webp"
                alt=""
              />
            </div>
          </li>
          <li
            class="item-card__thumbs-slide thumbs-slide-item-card swiper-slide"
          >
            <div class="thumbs-slide-item-card__image-wrap">
              <img
                class="thumbs-slide-item-card__image"
                src="./img/items/99.webp"
                alt=""
              />
            </div>
          </li>
          <li
            class="item-card__thumbs-slide thumbs-slide-item-card swiper-slide"
          >
            <div class="thumbs-slide-item-card__image-wrap">
              <img
                class="thumbs-slide-item-card__image"
                src="./img/items/100.webp"
                alt=""
              />
            </div>
          </li>
        </ul>
      </div>
      <button class="item-card__slider-btn item-card__slider-btn_next">
        <svg class="item-card__slider-btn-icon">
          <use href="#arr-svg"></use>
        </svg>
      </button>
    </div>
    <div class="item-card__content">
      <div class="item-card__head">
        <h1 class="item-card__title txt-12">BLACK Bonded T-SHIRT</h1>
        <div class="item-card__parameters">
          <div class="item-card__parameter parameter-item-card">
            <span class="parameter-item-card__title txt-12">SIZE</span>
            <div class="parameter-item-card__row">
              <div class="parameter-item-card__item">
                <input
                  class="parameter-item-card__input"
                  name="itemSizeOption"
                  type="radio"
                />
                <span class="parameter-item-card__item-txt txt-12">s</span>
              </div>
              <div class="parameter-item-card__item">
                <input
                  class="parameter-item-card__input"
                  name="itemSizeOption"
                  type="radio"
                />
                <span class="parameter-item-card__item-txt txt-12">m</span>
              </div>
              <div class="parameter-item-card__item">
                <input
                  class="parameter-item-card__input"
                  name="itemSizeOption"
                  type="radio"
                  checked
                />
                <span class="parameter-item-card__item-txt txt-12">l</span>
              </div>
              <div class="parameter-item-card__item">
                <input
                  class="parameter-item-card__input"
                  name="itemSizeOption"
                  type="radio"
                />
                <span class="parameter-item-card__item-txt txt-12">xl</span>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="item-card__btn btn btn_green">
          <span class="btn__txt">ADD TO CART</span>
          <span class="btn__txt">$<span>925</span></span>
        </button>
      </div>
      <div class="item-card__body">
        <div class="item-card__characteristics">
          <div class="item-card__characteristic characteristic-item-card">
            <span class="characteristic-item-card__title txt-12"
              >Fit & Size</span
            >
            <div class="characteristic-item-card__text-wrap txt-12">
              <p class="characteristic-item-card__text">
                Male model is wearing size L and he  is 6.2ft/1.89m with chest
                36in/93cm.
              </p>
            </div>
          </div>
          <div class="item-card__characteristic characteristic-item-card">
            <span class="characteristic-item-card__title txt-12"
              >Composition</span
            >
            <div class="characteristic-item-card__text-wrap txt-12">
              <p class="characteristic-item-card__text">100% Cotton</p>
            </div>
          </div>
          <div class="item-card__characteristic characteristic-item-card">
            <span class="characteristic-item-card__title txt-12">color</span>
            <div class="characteristic-item-card__text-wrap txt-12">
              <p class="characteristic-item-card__text">Black</p>
            </div>
          </div>
          <div class="item-card__characteristic characteristic-item-card">
            <span class="characteristic-item-card__title txt-12">Made In</span>
            <div class="characteristic-item-card__text-wrap txt-12">
              <p class="characteristic-item-card__text">Italy</p>
            </div>
          </div>
          <div class="item-card__characteristic characteristic-item-card">
            <span class="characteristic-item-card__title txt-12"
              >Shipping <br />
              & Returns</span
            >
            <div class="characteristic-item-card__text-wrap txt-12">
              <p class="characteristic-item-card__text">
                <span>
                  Free Shipping over €350 / $350 / £300 / HK$ 2800 / ¥4000</span
                >
                <span
                  >Shipping: Worldwide Express Shipping 2-5 days. Europe Express
                  Shipping 1-2 days. Europe Standard Shipping 2-5 days.</span
                >
                <span
                  >Check the shipping costs for your country
                  <a href="#">here</a>. Returns: 14 days to return. Check the
                  return costs for your country <a href="#">here</a>.</span
                >
                <span>Exchanges: 14 days to exchange, free of charges</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
