<section class="items-carousel">
  <div class="items-carousel__container container">
    <div class="items-carousel__head">
      <h2 class="items-carousel__title title">OTHER</h2>
    </div>
    <div class="items-carousel__body">
      <div class="items-carousel__swiper swiper">
        <ul class="items-carousel__swiper-wrapper swiper-wrapper">
          <li class="items-carousel__slide swiper-slide feed-card">
            <a href="#" class="feed-card__inner">
              <div class="feed-card__image-wrap">
                <img
                  class="feed-card__image"
                  src="./img/content/gamutador_caucasian_people_3a3a8779-f21d-4667-b1fd-e5f5b75028392.webp"
                  alt=""
                />
              </div>
              <div class="feed-card__content">
                <h2 class="feed-card__title">
                  AMKAL ESPORTS is a Russian esports organization a media club
                  German Popkov
                </h2>
                <div class="feed-card__group">
                  <time datetime="2024-04-10" class="feed-card__date"
                    >10.04.24</time
                  >
                  <div class="feed-card__btn btn btn_ghost">
                    <span class="btn__txt">READ MORE</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="items-carousel__slide swiper-slide feed-card">
            <a href="#" class="feed-card__inner">
              <div class="feed-card__image-wrap">
                <img
                  class="feed-card__image"
                  src="./img/content/3da6ecb0fab5ef9f6c75c5f9db3f4e17.webp"
                  alt=""
                />
              </div>
              <div class="feed-card__content">
                <h2 class="feed-card__title">
                  AMKAL ESPORTS is a Russian esports organization a media club
                  German Popkov
                </h2>
                <div class="feed-card__group">
                  <time datetime="2024-04-10" class="feed-card__date"
                    >10.04.24</time
                  >
                  <div class="feed-card__btn btn btn_ghost">
                    <span class="btn__txt">READ MORE</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="items-carousel__slide swiper-slide feed-card">
            <a href="#" class="feed-card__inner">
              <div class="feed-card__image-wrap">
                <img
                  class="feed-card__image"
                  src="./img/content/0caff06c277b7a843e8caeafd399e3d4.webp"
                  alt=""
                />
              </div>
              <div class="feed-card__content">
                <h2 class="feed-card__title">
                  AMKAL ESPORTS is a Russian esports organization a media club
                  German Popkov
                </h2>
                <div class="feed-card__group">
                  <time datetime="2024-04-10" class="feed-card__date"
                    >10.04.24</time
                  >
                  <div class="feed-card__btn btn btn_ghost">
                    <span class="btn__txt">READ MORE</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
