<section data-screen class="lang">
  <div class="lang__container container">
    <span class="lang__title">
      <span class="lang__title-txt lang__title-txt_1 sm-title">we</span>
      <span data-glitch-size="184,184,72" class="glitch-text bt">
        <span class="glitch-text-content">make</span>
      </span>
      <span
        class="lang__title-txt lang__title-txt_2 sm-title lang__title-txt_right"
        >gaming</span
      ><span
        class="lang__title-txt lang__title-txt_3 sm-title lang__title-txt_right"
        >cool</span
      >
    </span>
    <div class="lang__image-wrap lang__image-wrap_right">
      <p data-splitting class="lang__text">
        ©<span class="current-year">2024</span>, AMKAL ESPORTS
      </p>
      <img
        class="lang__image"
        src="./img/content/gamutador_caucasian_people_3a3a8779-f21d-4667-b1fd-e5f5b75028392.webp"
        alt=""
      />
    </div>
    <div class="lang__image-wrap lang__image-wrap_left">
      <img
        class="lang__image"
        src="./img/content/08c811634a330cbae5e50c80af4bff2a.webp"
        alt=""
      />
    </div>
  </div>
</section>
