<section class="merch">
  <div class="merch__container container">
    <div class="merch__head">
      <h1 class="merch__title title">MERCH</h1>
      <div class="merch__filter filter">
        <button type="button" class="filter__btn txt-uc txt-uc_11">
          FILTER <span class="filter__btn-arrow">^</span>
        </button>
        <div class="filter__body">
          <span class="filter__title title">filter</span>
          <form action="#" class="filter__form">
            <div class="filter__groups">
              <div class="filter__group">
                <span class="filter__subtitle txt-uc">CATHEGORY</span>
                <div class="filter__options">
                  <label class="checkout__option option option_checkbox">
                    <input checked type="checkbox" class="option__input" />
                    <span class="option__txt">T-shirt</span>
                  </label>
                  <label class="checkout__option option option_checkbox">
                    <input type="checkbox" class="option__input" />
                    <span class="option__txt">Sweatshirt</span>
                  </label>
                  <label class="checkout__option option option_checkbox">
                    <input type="checkbox" class="option__input" />
                    <span class="option__txt">Coat</span>
                  </label>
                  <label class="checkout__option option option_checkbox">
                    <input type="checkbox" class="option__input" />
                    <span class="option__txt">Trousers</span>
                  </label>
                  <label class="checkout__option option option_checkbox">
                    <input type="checkbox" class="option__input" />
                    <span class="option__txt">Accessories</span>
                  </label>
                  <label class="checkout__option option option_checkbox">
                    <input type="checkbox" class="option__input" />
                    <span class="option__txt">Objects</span>
                  </label>
                </div>
              </div>
              <div class="filter__group">
                <span class="filter__subtitle txt-uc">sort</span>
                <div class="filter__options">
                  <label class="checkout__option option">
                    <input
                      checked
                      type="radio"
                      name="merchSortOption"
                      class="option__input"
                    />
                    <span class="option__txt">Price (High to Low)</span>
                  </label>
                  <label class="checkout__option option">
                    <input
                      type="radio"
                      name="merchSortOption"
                      class="option__input"
                    />
                    <span class="option__txt">Price (Low to High)</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="filter__buttons">
              <button
                type="submit"
                class="filter__btn btn btn_centered btn_green"
              >
                <span class="btn__txt">apply</span>
              </button>
              <button type="button" class="filter__btn btn btn_centered btn_ol">
                <span class="btn__txt">reset</span>
              </button>
            </div>
          </form>
          <button type="button" class="filter__close-btn">
            <svg class="filter__close-btn-icon">
              <use href="#cross2-svg"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="merch__body">
      <ul class="merch__items">
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img class="item-merch__image" src="./img/items/44.webp" alt="" />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11"
              >Green Bonded Hoodie</span
            ><span class="item-merch__price txt-uc txt-uc_11"> $525</span>
          </a>
        </li>
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img
                class="item-merch__image"
                src="./img/items/107.webp"
                alt=""
              />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11">Green TSHIRT</span
            ><span class="item-merch__price txt-uc txt-uc_11"> $525</span>
          </a>
        </li>
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img class="item-merch__image" src="./img/items/50.webp" alt="" />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11"
              >BLACK HOODIE ECLIPSE</span
            ><span class="item-merch__price txt-uc txt-uc_11"> $525</span>
          </a>
        </li>
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img class="item-merch__image" src="./img/items/53.webp" alt="" />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11"
              >Green Bonded Hoodie</span
            ><span class="item-merch__price txt-uc txt-uc_11"> $525</span>
          </a>
        </li>
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img class="item-merch__image" src="./img/items/51.webp" alt="" />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11">BLACK TSHIRT</span
            ><span class="item-merch__price txt-uc txt-uc_11"> SOLD OUT </span>
          </a>
        </li>
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img class="item-merch__image" src="./img/items/52.webp" alt="" />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11"
              >BLACK HOODIE ECLIPSE </span
            ><span class="item-merch__price txt-uc txt-uc_11">$525</span>
          </a>
        </li>
      </ul>
      <div class="merch__image-text image-text">
        <div class="image-text__image-wrap">
          <img class="image-text__image" src="./img/content/43.webp" alt="" />
        </div>
        <p class="image-text__text">
          <span class="image-text__text-content">We</span>
          <span class="image-text__text-content image-text__text-content_white"
            >make</span
          >
          <span class="image-text__text-content image-text__text-content_white"
            >gaming</span
          >
          <span class="image-text__text-content">cool</span>
        </p>
      </div>
      <ul class="merch__items">
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img class="item-merch__image" src="./img/items/56.webp" alt="" />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11"
              >Green Bonded Hoodie </span
            ><span class="item-merch__price txt-uc txt-uc_11">$525</span>
          </a>
        </li>
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img
                class="item-merch__image"
                src="./img/items/1654707087.webp"
                alt=""
              />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11">Green TSHIRT </span
            ><span class="item-merch__price txt-uc txt-uc_11">$525</span>
          </a>
        </li>
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img
                class="item-merch__image"
                src="./img/items/106.webp"
                alt=""
              />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11">
              BLACK HOODIE ECLIPSE </span
            ><span class="item-merch__price txt-uc txt-uc_11"> $525</span>
          </a>
        </li>
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img class="item-merch__image" src="./img/items/54.webp" alt="" />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11">
              Green Bonded Hoodie </span
            ><span class="item-merch__price txt-uc txt-uc_11"> $525</span>
          </a>
        </li>
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img class="item-merch__image" src="./img/items/55.webp" alt="" />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11">
              Green TSHIRT </span
            ><span class="item-merch__price txt-uc txt-uc_11"> $525</span>
          </a>
        </li>
        <li class="merch__item item-merch">
          <a href="#" class="item-merch__inner">
            <div class="item-merch__image-wrap">
              <img class="item-merch__image" src="./img/items/52.webp" alt="" />
            </div>
            <span class="item-merch__title txt-uc txt-uc_11">
              BLACK HOODIE ECLIPSE</span
            ><span class="item-merch__price txt-uc txt-uc_11"> $525</span>
          </a>
        </li>
      </ul>
      <div class="merch__image-text image-text image-text_fw _no-margin">
        <div class="image-text__image-wrap">
          <img class="image-text__image" src="./img/content/1001.webp" alt="" />
        </div>
        <p class="image-text__text image-text__text_5">
          <span class="image-text__text-content image-text__text-content_white"
            >Esports</span
          >
          <span class="image-text__text-content image-text__text-content_white"
            >is</span
          >
          <span class="image-text__text-content image-text__text-content_white"
            >the</span
          >
          <span class="image-text__text-content image-text__text-content_white"
            >logical</span
          >
          <span class="image-text__text-content image-text__text-content_white"
            >extension</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
