<section class="order-confirm">
  <div class="order-confirm__container container">
    <div class="order-confirm__image-wrap">
      <img
        class="order-confirm__image"
        src="./img/content/error-page.webp"
        alt=""
      />
    </div>
    <h1 class="order-confirm__title title">SOMETHING WRONG</h1>
    <p class="order-confirm__text">
      An error occurred when placing  an order, please repeat the ordering
      procedure or contact support
    </p>
    <a href="#" class="order-confirm__btn btn btn_centered btn_ol btn_ol_white"
      ><span class="btn__txt">ask support</span></a
    >
  </div>
</section>
