<section class="partners">
  <div class="partners__container container">
    <div class="partners__head">
      <h1 class="partners__title title">PARTNERS</h1>
    </div>
    <div class="partners__body">
      <div class="partners__content">
        <a href="#" class="partners__logo-wrap">
          <img class="partners__logo" src="./img/logos/pari-2.svg" alt="" />
        </a>
        <p class="partners__text">
          Pari – это букмекерская контора, предлагающая своим пользователям
          широкий спектр возможностей для ставок на спортивные события и не
          только. Богатый выбор спортивных дисциплин, включая футбол, баскетбол,
          теннис, хоккей и многие другие, позволяет пользователям находить
          интересные события для ставок каждый день.
        </p>
        <div class="partners__aside _mobile-only">
          <div class="partners__group txt-uc txt-uc_11">
            <span class="partners__subtitle">SOCIAL MEDIA:</span>
            <ul class="partners__list">
              <li class="partners__list-item">
                <a href="#" target="_blank" class="partners__list-txt"
                  >INSTAGRAM</a
                >
              </li>
              <li class="partners__list-item">
                <a href="#" target="_blank" class="partners__list-txt"
                  >FACEBOOK</a
                >
              </li>
              <li class="partners__list-item">
                <a href="#" target="_blank" class="partners__list-txt"
                  >YOUTUBE</a
                >
              </li>
              <li class="partners__list-item">
                <a href="#" target="_blank" class="partners__list-txt"
                  >TWITCH</a
                >
              </li>
              <li class="partners__list-item">
                <a href="#" target="_blank" class="partners__list-txt">
                  BOOSTY</a
                >
              </li>
            </ul>
          </div>
        </div>
        <a href="#" class="partners__image-wrap">
          <img
            class="partners__image"
            src="./img/content/1654707083.webp"
            alt=""
          /><img
            class="partners__image partners__image_mobile-only"
            src="./img/content/1654707085.webp"
            alt=""
          />
        </a>
      </div>
      <div class="partners__aside _desktop-only">
        <div class="partners__group txt-uc txt-uc_11">
          <span class="partners__subtitle">SOCIAL MEDIA:</span>
          <ul class="partners__list">
            <li class="partners__list-item">
              <a href="#" target="_blank" class="partners__list-txt"
                >INSTAGRAM</a
              >
            </li>
            <li class="partners__list-item">
              <a href="#" target="_blank" class="partners__list-txt"
                >FACEBOOK</a
              >
            </li>
            <li class="partners__list-item">
              <a href="#" target="_blank" class="partners__list-txt">YOUTUBE</a>
            </li>
            <li class="partners__list-item">
              <a href="#" target="_blank" class="partners__list-txt">TWITCH</a>
            </li>
            <li class="partners__list-item">
              <a href="#" target="_blank" class="partners__list-txt"> BOOSTY</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
