<section data-screen class="victory">
  <div class="victory__container container">
    <span class="victory__title">
      <span class="victory__title-txt victory__title-txt_sm sm-title"
        >CREATING</span
      >
      <span class="victory__title-txt victory__title-txt_sm sm-title">OUR</span>
      <span class="victory__title-txt victory__title-txt_sm sm-title">OWN</span>
      <span class="victory__title-txt victory__title-txt_sm sm-title"
        >REALITY</span
      >
    </span>
    <p data-splitting class="victory__text">
      ©<span class="current-year">2024</span>, AMKAL ESPORTS
    </p>
  </div>
  <!--   <div class="victory__video-wrap"> -->
  <!--     <video -->
  <!--       data-videojs -->
  <!--       class="victory__video" -->
  <!--       src="../files/movieout.mp4" -->
  <!--     ></video> -->
  <!--   </div> -->
  <div class="victory__image-wrap">
    <img class="victory__image" src="./img/content/683A1990.webp" alt="" />
  </div>
  <div class="victory__layer"></div>
</section>
