<section data-screen class="victory">
  <div class="victory__container container">
    <span class="victory__title">
      <span
        class="victory__title-txt victory__title-txt_sm victory__title-txt_sm_1 sm-title"
        >creating</span
      >
      <!-- 190 62 --->
      <span data-glitch-size="62" class="glitch-text bs">
        <span class="victory__title-txt glitch-text-content">our</span>
      </span>
      <span
        class="victory__title-txt victory__title-txt_sm victory__title-txt_sm_2 sm-title"
        >own</span
      >
      <span
        class="victory__title-txt victory__title-txt_sm victory__title-txt_sm_3 sm-title"
        >reality</span
      >
    </span>
    <p data-splitting class="victory__text">
      ©<span class="current-year">2024</span>, AMKAL ESPORTS
    </p>
  </div>
  <div class="victory__video-wrap">
    <video
      data-videojs
      class="victory__video"
      src="../files/movieout.mp4"
    ></video>
  </div>
  <div class="victory__layer"></div>
</section>
