<section data-screen class="footer-main">
  <div class="footer-main__container container">
    <div class="footer-main__head">
      <h2 class="footer-main__title">
        <span class="footer-main__title-txt">get in</span>
        <span data-glitch-size="184,184,80,210" class="glitch-text bt">
          <span class="glitch-text-content">touch</span>
        </span>
      </h2>
      <ul class="footer__list txt-uc">
        <li class="footer__item">
          <span class="footer__subtitle">SOCIAL MEDIA</span>
          <ul class="footer__list footer__list_sublist">
            <li class="footer__item">
              <a href="#" target="_blank" class="footer__item-txt">INSTAGRAM</a>
            </li>
            <li class="footer__item">
              <a href="#" target="_blank" class="footer__item-txt">FACEBOOK</a>
            </li>
            <li class="footer__item">
              <a href="#" target="_blank" class="footer__item-txt">YOUTUBE</a>
            </li>
            <li class="footer__item">
              <a href="#" target="_blank" class="footer__item-txt">TWITCH</a>
            </li>
            <li class="footer__item">
              <a href="#" target="_blank" class="footer__item-txt">BOOSTY</a>
            </li>
          </ul>
        </li>
        <li class="footer__item">
          <span class="footer__subtitle">LEGAL INFORMATION</span>
          <ul class="footer__list footer__list_sublist">
            <li class="footer__item">
              <a href="#" class="footer__item-txt">PRIVACY POLICY</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-txt">TERMS OF USE</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-txt">COOKIE POLICY</a>
            </li>
          </ul>
        </li>
        <li class="footer__item">
          <span class="footer__subtitle">WEBSITE DEVELOMENT:</span>
          <ul class="footer__list footer__list_sublist">
            <li class="footer__item">
              <a href="#" class="footer__item-txt">Artem Tereniuk</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-txt">YUNOSHI</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer-main__sponsors">
      <span class="footer-main__subtitle txt-uc">sponsors</span>
      <div class="footer-main__sponsors-swiper swiper">
        <ul class="footer-main__sponsors-swiper-wrapper swiper-wrapper">
          <li
            class="footer-main__sponsors-slide sponsors-slide-main-footer swiper-slide"
          >
            <a href="#" class="footer-main__image-wrap">
              <img
                class="footer-main__image"
                src="./img/logos/pari.svg"
                alt=""
              />
            </a>
          </li>
          <li
            class="footer-main__sponsors-slide sponsors-slide-main-footer swiper-slide"
          >
            <a href="#" class="footer-main__image-wrap">
              <img
                class="footer-main__image"
                src="./img/logos/nike.svg"
                alt=""
              />
            </a>
          </li>
          <li
            class="footer-main__sponsors-slide sponsors-slide-main-footer swiper-slide"
          >
            <a href="#" class="footer-main__image-wrap">
              <img
                class="footer-main__image"
                src="./img/logos/red-bull.svg"
                alt=""
              />
            </a>
          </li>
          <li
            class="footer-main__sponsors-slide sponsors-slide-main-footer swiper-slide"
          >
            <a href="#" class="footer-main__image-wrap">
              <img
                class="footer-main__image"
                src="./img/logos/pari.svg"
                alt=""
              />
            </a>
          </li>
          <li
            class="footer-main__sponsors-slide sponsors-slide-main-footer swiper-slide"
          >
            <a href="#" class="footer-main__image-wrap">
              <img
                class="footer-main__image"
                src="./img/logos/nike.svg"
                alt=""
              />
            </a>
          </li>
          <li
            class="footer-main__sponsors-slide sponsors-slide-main-footer swiper-slide"
          >
            <a href="#" class="footer-main__image-wrap">
              <img
                class="footer-main__image"
                src="./img/logos/red-bull.svg"
                alt=""
              />
            </a>
          </li>
          <li
            class="footer-main__sponsors-slide sponsors-slide-main-footer swiper-slide"
          >
            <a href="#" class="footer-main__image-wrap">
              <img
                class="footer-main__image"
                src="./img/logos/pari.svg"
                alt=""
              />
            </a>
          </li>
          <li
            class="footer-main__sponsors-slide sponsors-slide-main-footer swiper-slide"
          >
            <a href="#" class="footer-main__image-wrap">
              <img
                class="footer-main__image"
                src="./img/logos/nike.svg"
                alt=""
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-main__bottom">
      <span class="footer-main__copyrights txt-uc"
        >©<span class="curren-year">2024</span>, AMKAL ESPORTS</span
      >
      <button type="button" class="footer-main__anchor txt-uc">
        ^ BACK to TOP
      </button>
    </div>
  </div>
</section>
