<header class="header">
  <div class="nav-row container">
    <div class="nav-row__inner">
      <button
        data-header-anim
        type="button"
        class="nav-row__hamburger"
      ></button>
      <nav data-header-anim class="nav-row__nav txt-uc">
        <a href="#" class="nav-row__nav-link">TEAM</a>
        <a href="#" class="nav-row__nav-link">MANIFESTO</a>
        <a href="#" class="nav-row__nav-link">PARTNERS</a>
        <a href="#" class="nav-row__nav-link">MERCH</a>
        <a href="#" class="nav-row__nav-link">MATCH</a>
        <a href="#" class="nav-row__nav-link">CONTACT</a>
        <a href="#" class="nav-row__nav-link">FEED</a>
      </nav>
      <div data-header-anim class="nav-row__lang lang-nav-row">
        <div class="lang-nav-row__item _desktop-only">
          <input
            class="lang-nav-row__input"
            type="radio"
            checked
            name="headerLang"
          />
          <span class="lang-nav-row__text txt-uc">RU</span>
        </div>
        <div class="lang-nav-row__item">
          <input class="lang-nav-row__input" type="radio" name="headerLang" />
          <span class="lang-nav-row__text txt-uc">EN</span>
        </div>
      </div>
    </div>
    <a data-header-anim href="/" class="nav-row__logo">
      <img
        class="nav-row__logo-image nav-row__logo-image_white"
        src="./img/logo.svg"
        alt=""
      />
      <img
        class="nav-row__logo-image nav-row__logo-image_black"
        src="./img/logo-black.svg"
        alt=""
      />
    </a>
    <div data-header-anim class="nav-row__inner">
      <ul class="nav-row__actions actions-nav-row">
        <li class="actions-nav-row__item actions-nav-row__item_cart">
          <span class="actions-nav-row__txt"
            ><span class="actions-nav-row__txt-content txt-uc">CART</span
            ><span class="actions-nav-row__count">0</span></span
          >
          <include src="./components/cart-widget-add.html"></include>
          <include src="./components/_cart-widget-no-items.html"></include>
        </li>
      </ul>
    </div>
  </div>
  <include src="./components/header-menu.html"></include>
</header>
