// ---- variables

// colors
$green: #caff34;
$white: #ffffff;
$black: #000000;
$bg: #171717;
$red: #ff7373;

// ----- fonts

// local fonts
@import "./base/fonts";

// ----- base styles

// base scss file
@import "./base/set";
@import "./base/common";

// html, body
html,
body {
  height: 100%;
  overflow-x: hidden;
}
html.lock {
  overflow: hidden;
  touch-action: none;
}
body._light-theme {
  color: $black;

  background-color: $white;
}

// main
main {
  position: relative;

  flex: 1 1 auto;
}

// wrapper
.wrapper {
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  max-width: 1920px;
  height: 100%;

  user-select: none;
}

._desktop-only {
  @media (max-width: 48em) {
    display: none;
  }
}

._mobile-only {
  @media (min-width: 48em) {
    display: none;
  }
}

// ----- imports

@import "./base/header";
@import "./base/footer";
@import "./base/sections";
