// ---- variables

// colors
$green: #caff34;
$white: #ffffff;
$black: #000000;
$bg: #171717;
$red: #ff7373;

// ----- fonts

// local fonts
@import "./base/fonts";

// ----- base styles

// base scss file
@import "./base/set";
@import "./base/common";

body {
  transform-origin: 0 0;
}

.lg-on,
._lock,
._show-header-menu {
  @media (max-width: 64.05em) {
    overflow: hidden;
    touch-action: none;
  }
}

body {
  &.dark-theme {
    background-color: $bg;
  }

  &._light-theme {
    &:not(.mainpage &) {
      color: $black;

      background-color: $white;

      &._light-theme_green {
        background-color: $green;
      }
    }
  }
}

// main
main {
  position: relative;

  flex: 1 1 auto;
  min-height: 100%;
}

// wrapper
main,
footer {
  margin: 0 auto;

  width: 100%;
  max-width: 1920px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  user-select: none;
}

[data-screen] {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 100%;
  height: 100%;
  //  height: 100dvh;

  overflow: hidden;

  transform-origin: 0 0;

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;

  &:not([data-screen="active"]) {
    opacity: 0;
    visibility: hidden;
  }
}

._desktop-only {
  @media (max-width: 48em) {
    display: none;
  }
}

._desktop-t-only {
  @media (max-width: 64.05em) {
    display: none;
  }
}

._mobile-only {
  @media (min-width: 48em) {
    display: none;
  }
}

// ----- imports

@import "./base/header";
@import "./base/footer";
