// ---- variables

// colors
$green: #caff34;
$white: #ffffff;
$black: #000000;
$bg: #171717;
$red: #ff7373;

// ----- fonts

// local fonts
@import "./base/fonts";

// ----- base styles

// base scss file
@import "./base/set";
@import "./base/common";

// html, body
//html:not(.lock, .lg-on, ._is-locked),
//html:not(.lock, .lg-on, ._is-locked) body {
//  overflow-x: hidden;
//}
//html.lock,
//html.lg-on,
//html._is-locked,
//html.lock body,
//html.lg-on body {
//  overflow: hidden;
//  touch-action: none;
//}
body {
  &._light-theme {
    &:not(.mainpage &) {
      color: $black;

      background-color: $white;

      &._light-theme_green {
        background-color: $green;
      }
    }
  }
}

// main
main {
  position: relative;

  flex: 1 1 auto;
}

.locomotive-scroll {
  min-height: 100%;
}

// wrapper
.wrapper {
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  max-width: 1920px;
  min-height: 100vh;

  user-select: none;
}

[data-screen] {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;

  &:not([data-screen="active"]) {
    opacity: 0;
    visibility: hidden;
  }
}

._desktop-only {
  @media (max-width: 48em) {
    display: none;
  }
}

._desktop-t-only {
  @media (max-width: 64.05em) {
    display: none;
  }
}

._mobile-only {
  @media (min-width: 48em) {
    display: none;
  }
}

// ----- imports

@import "./base/header";
@import "./base/footer";
@import "./base/sections";

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
